{{ attach_library('cp_pro_adviser/cp_pro_adviser') }}
<main class="dashboard">
	<div id="bussines_international" class="">
		<div id="not_row" class="form_table row mb-5 gy-4">
			<div class="col-sm-12 col-lg-4 d-flex flex-column">
				<label for="company_name_buyer">{{ "Company name"|t }}</label>
				<input class="form-control" type="text" name="company_name_buyer" id="company_name_buyer">
			</div>
			<div class="col-sm-12 col-lg-4 d-flex flex-column">
				<label for="category">{{ "Category"|t }}</label>
				<select name="category" id="category">
					<option value="">{{ "Select category"|t }}</option>
					{% for category in tree_categorization %}
						<option value="{{category.ID}}">{{category.Name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-12 col-lg-4 d-flex flex-column">
				<label for="subcat_interest_1">{{ "Subcategory"|t }}</label>
				<select name="subcat_interest_1" id="subcat_interest_1">
					<option value="">{{ "Select subcategory"|t }}</option>
				</select>
			</div>
			<div class="col-sm-12 col-lg-4 d-flex flex-column">
				<label for="status_buyer">{{ "Status"|t }}</label>
				<select name="status_buyer" id="status_buyer">
					<option value="">{{ "Select Status"|t }}</option>
					{% for status in tree_account_status %}
						<option value="{{status.ID}}">{{status.Name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-12 col-lg-4">
				<label for="update_date">{{ "Update date"|t }}</label>
				<select name="update_date" id="update_date">
					<option value="">{{ ""|t }}</option>
				</select>
			</div>
			<div class="col-sm-12 col-lg-4 d-flex flex-row justify-content-between align-items-end">
				<button id="filter-buyer" class="filtter_btn btn">
					<i class='bx bx-slider-alt'></i>
					{{ "Apply filter"|t }}</button>
				<button id="clean-buyer" class="clear_btn btn">{{ "Clean filter"|t }}</button>
			</div>
		</div>
		<div class="form_table mt-4">
			<table id="buyers-list" class="display"></table>
		</div>
	</div>
</main>
