<div class="banner-category">
  <picture>
    <source media="(max-width:750px)" srcset={{uri_img}}>
    <img src={{uri_img}} alt="{{taxonomy_name}}" title="{{taxonomy_name}}">
  </picture>
  <div class="title">{{taxonomy_name}}</div>
</div>
