{{ attach_library('cp_register/cp_register') }}
<section class="main_registre container">
	<div class="header_title">
		<h1>{{ "REGISTER AS A COLOMBIAN COMPANY"|t }}</h1>
	</div>
	<div class="body">
		<h3 class="body_title">{{ "REGISTER"|t }}</h3>
		<p class="body_description">{{ "Register in the Colombian Export Catalog to expand your offer to international markets. Remember that you must be a ProColombia account to register."|t }}
		</p>
		<div class="row gy-4">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<label for="nit">{{ "Nit"|t }}
					<sup>*</sup>
				</label>
				<div class="input_error">
					<input class="form-control" type="number" id="nit" name="nit" placeholder="00000000" title="{{ "Write the tax identification number corresponding to your company"|t }}" aria-label="{{ "Write the tax identification number corresponding to your company"|t }}">
					<i id="error_nit" class='bx bxs-info-circle toltip_i'>
						<span id="error_nit_message" class="tooltiptext_error">
							{{ "Required Field"|t }}
						</span>
					</i>
				</div>
				<div class="toltip_content">
					<i class='bx bxs-info-circle toltip_i'>
						<span class="tooltiptext">
							{{ "Write the tax identification number corresponding to your company"|t }}
						</span>
					</i>
					<span>
						{{ "Write the tax identification number corresponding to your company"|t }}
					</span>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<label for="email">{{ "Email"|t }}
					<sup>*</sup>
				</label>
				<div class="input_error">
					<input type="email" id="email" name="email" placeholder="{{ "Example@example.com"|t }}" title="{{ "Write the corporate email where the mailing from this website will be sent"|t }}" aria-label="{{ "Write the corporate email where the mailing from this website will be sent"|t }}" class="form-control">
					<i id="error_mail" class='bx bxs-info-circle toltip_i'>
						<span id="error_mail_message" class="tooltiptext_error">
							{{ "Required Field"|t }}
						</span>
					</i>
				</div>
				<div class="toltip_content">
					<i class='bx bxs-info-circle toltip_i'>
						<span class="tooltiptext">
							{{ "Write the corporate email where the mailing from this website will be sent"|t }}
						</span>
					</i>
					<span>{{ "Write the corporate email where the mailing from this website will be sent"|t }}</span>
				</div>

			</div>
			<div class="col-lg-12 check">
				<label><input checked type="checkbox" id="conditions" aria-label="{{ "I have read and accept the Terms and Conditions of Use"|t }}" value="first_checkbox">
					{{ "I have read and accept"|t }}
					{{ "the"|t }}
					<a href="https://b2bmarketplace.procolombia.co/es/condiciones-de-uso" target="_blank" rel="noopener noreferrer">{{ "Terms and Conditions of Use"|t }}
						*</a>
				</label>
				<label><input checked type="checkbox" id="policy" aria-label="{{ "I have read and accept the Personal data processing policy"|t }}" value="first_checkbox">
					{{ "I have read and accept the"|t }}
					<a href="https://b2bmarketplace.procolombia.co/es/habeas-data-aviso-de-privacidad" target="_blank" rel="noopener noreferrer">{{ "Personal data processing policy"|t }}
						*</a>
				</label>
				<div style="text-align: center;">
					<div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
				</div>
			</div>
			<div class="col-lg-12 continue">
				<button data-bs-toggle="modal" data-bs-target="#cancel_modal" aria-label="{{ "Cancel registration"|t }}" class="cancel">{{ "CANCEL"|t }}</button>
				<button id="check_nit" name="check_nit" aria-label="{{ "Continue registration"|t }}" class="continue">{{ "CONTINUE"|t }}</button>
				<button style="display:none" class="continue" id="loader" type="button" disabled>
					<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
					{{ "Loading..."|t }}
				</button>
			</div>
		</div>
		<div class="modal fade" id="error_neo" tabindex="-1" aria-labelledby="alert_1Label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alert_1Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg" alt="" srcset="">
							{{ "Request an Appointment"|t }}
						</h5>
						<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
					</div>
					<div class="modal-body">
						<p>{{ "Your company is not registered as a ProColombia account."|t }}
							<a href="https://docs.google.com/forms/d/e/1FAIpQLSdJ7kX4dg2lTMlxBu2xuCy_tdtBme-Mn7DMHoCKDESTtaN7vg/viewform" target="_blank" rel="noopener noreferrer">
								{{ "To be attended by an advisor you must request an appointment online."|t }}
							</a>
							<br>
							{{ "In this space, you will be able to solve your foreign trade concerns and learn about ProColombia's different services to take advantage of the opportunities that the international market offers."|t }}
						</p>
					</div>
					<div class="modal-footer">
						<button id="go_form" type="button" aria-label="{{ "Request Appointment"|t }}" class="btn cita_btn">
							<i class='bx bx-link-external'></i>
							{{ "Request Appointment"|t }}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="email_verification" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_2Label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alert_3Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg" alt="" srcset="">
							{{ "Mail Verification"|t }}
						</h5>
					</div>
					<div class="modal-body">
						<p>{{ "To continue with the registration process, please validate your e-mail account where you will receive an e-mail with a verification link."|t }}</p>
					</a>
				</p>
			</div>
			<div class="modal-footer text-center">
				<button type="button" data-bs-dismiss="modal" class="btn cita_btn">{{ "UNDERSTOOD"|t }}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="success" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_2Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<i class='bx bxs-message-check'></i>
				<p>{{ "Successful Verification"|t }}</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="error_user" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_3Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="alert_3Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje_Rojo.svg" alt="" srcset="">
					{{ "Existing Account"|t }}
				</h5>
				<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
			</div>
			<div class="modal-body">
				<p>{{ "The consulted company already has a registered user,"|t }}
					<a href="/user/login" aria-label="{{ "please login"|t }}">{{ "please login"|t }}</a>
				</p>
			</div>
			<div class="modal-footer">
				<button id="login_btn" type="button" class="btn login_btn">
					{{ "Login"|t }}
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cancel_modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_3Label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="alert_3Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje_Rojo.svg" alt="" srcset="">
					{{ "Cancel process."|t }}
				</h5>
				<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
			</div>
			<div class="modal-body">
				<p>{{ "The Colombian Company Registration process"|t }}
					<strong>{{ "is about to be cancelled."|t }}</strong>
				</p>
			</div>
			<div class="modal-footer ">
				<div class="row">
					<div class="col-6 fs-6">
						<strong>{{ "Would you like to continue?"|t }}</strong>
					</div>
					<div class="col-6 btn_options">
						<button data-bs-dismiss="modal" aria-label="{{ "YES"|t }}" class="yes">{{ "YES"|t }}</button>
						<button id="cancel_procces" aria-label="{{ "NO"|t }}" class="no">{{ "NO"|t }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></section>
