{{ attach_library('cp_register/cp_register') }}
<section class="step_registre container">
	<div class="steps">
		<div class="step_tittle">{{ "Colombian Company Registration - Information"|t }}</div>
		<div class="step_content">
			<ul class="nav justify-content-center" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
						<svg id="svg_home" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<title>icono_3</title>
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M84.66,61.62H99.39v51.71H89.62V70.87H79Z"/>
								</g>
							</g>
						</svg>
						<svg id="check_home_tab" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<defs>
								<style>
									.cls-1 {
										fill: #5ab88e;
									}

									.cls-2 {
										fill: #fff;
									}
								</style>
							</defs>
							<title>icono_1</title>
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="cls-1" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<polygon class="cls-2" points="74.09 115.66 49.91 91.99 55.5 86.27 74.13 104.5 121.17 59.1 126.72 64.86 74.09 115.66"/>
								</g>
							</g>
						</svg>
						{{ "Company Profile"|t }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
						<svg id="svg_profile" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M82.27,78.93h-9.6q.39-8.36,5.26-13.16A17,17,0,0,1,90.42,61a16.9,16.9,0,0,1,8.32,2,15.89,15.89,0,0,1,7.93,13.34A22.51,22.51,0,0,1,104,86.21q-2.61,5.31-9.58,12.55l-5.8,6.12h18.43V114H71.26v-4.71L87.26,93q5.8-5.86,7.72-9.44a14,14,0,0,0,1.91-6.45,6.65,6.65,0,0,0-2-4.94,7,7,0,0,0-5.12-1.95,6.74,6.74,0,0,0-5.27,2.36A9.72,9.72,0,0,0,82.27,78.93Z"/>
								</g>
							</g>
						</svg>
						<svg id="check_profile_tab" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<defs>
								<style>
									.cls-1 {
										fill: #5ab88e;
									}

									.cls-2 {
										fill: #fff;
									}
								</style>
							</defs>
							<title>icono_1</title>
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="cls-1" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<polygon class="cls-2" points="74.09 115.66 49.91 91.99 55.5 86.27 74.13 104.5 121.17 59.1 126.72 64.86 74.09 115.66"/>
								</g>
							</g>
						</svg>
						{{ "Economic Activity"|t }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="back" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<path class="num" d="M82.87,74.38H73.41a15.66,15.66,0,0,1,4.11-9.21,15.84,15.84,0,0,1,11.85-4.85,15,15,0,0,1,10.67,4,12.75,12.75,0,0,1,4.31,9.6,11.13,11.13,0,0,1-1.89,6.29A13.38,13.38,0,0,1,97,84.86a14,14,0,0,1,7.36,4.9A13.25,13.25,0,0,1,107,98a15.55,15.55,0,0,1-5.14,11.79,18.31,18.31,0,0,1-13.07,4.83q-7.53,0-12.27-4.55T71.33,97.69h9.74a9.81,9.81,0,0,0,2.8,6,8.55,8.55,0,0,0,11.18-.27A7.26,7.26,0,0,0,97.31,98a7.36,7.36,0,0,0-3-5.94q-3.06-2.43-8.83-2.5V81.1A15.94,15.94,0,0,0,90.72,80a6.54,6.54,0,0,0,2.71-2.27,5.43,5.43,0,0,0,1-3.06,4.64,4.64,0,0,0-1.48-3.5,5.42,5.42,0,0,0-3.87-1.38,6.24,6.24,0,0,0-3.83,1.28A6.36,6.36,0,0,0,82.87,74.38Z"/>
								</g>
							</g>
						</svg>
						<svg id="check_contact_tab" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 178.35 174.95">
							<defs>
								<style>
									.cls-1 {
										fill: #5ab88e;
									}

									.cls-2 {
										fill: #fff;
									}
								</style>
							</defs>
							<title>icono_1</title>
							<g id="Capa_2" data-name="Capa 2">
								<g id="Capa_1-2" data-name="Capa 1">
									<path class="cls-1" d="M0,88.84C-.23,82.17,2.56,76.32,7.3,71.47c7.15-7.3,14.4-14.53,21.87-21.5C39,40.83,48.31,31.25,57.87,21.89c5-4.88,9.94-9.82,14.95-14.69a26.28,26.28,0,0,1,36.32.17q18.08,17.91,36.21,35.76c8.43,8.26,17.14,16.23,25.39,24.65,7.28,7.44,9.44,16.4,6,26.42a20.33,20.33,0,0,1-4.85,8q-14.34,14.25-28.75,28.4L141.74,132c-10,9.88-19.83,19.93-30.07,29.55-4.48,4.21-8.46,9.1-14.51,11.55-9.13,3.71-20.77,1.67-27.79-5.3S55.45,153.75,48.25,147c-13.67-12.88-26.9-26.22-40.36-39.32A24.49,24.49,0,0,1,0,88.84Z"/>
									<polygon class="cls-2" points="74.09 115.66 49.91 91.99 55.5 86.27 74.13 104.5 121.17 59.1 126.72 64.86 74.09 115.66"/>
								</g>
							</g>
						</svg>
						{{ "Contact Information"|t }}
					</a>
				</li>
			</ul>
			<div class="progress validate">
				<div class="progress-bar" id="validate_progresss" style="width:33.33%" role="progressbar" aria-label="{{ "Basic example"|t }}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<p class="title_tab" id="home_title" style="display:block">{{ "Company Profile"|t }}</p>
			<p class="title_tab" id="profile_title">{{ "Economic Activity"|t }}</p>
			<p class="title_tab" id="contact_title">{{ "Contact Information"|t }}</p>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
					<form class="row g-4 gx-5 pb-4" style="padding: 1.5rem 0.5rem;">
						<div class="col-md-6">
							<label for="logo" class="form-label">{{ "Logo"|t }}
								 <sup>*</sup>
							</label>
							<div style="display: flex;">
								<div id="prew" class=" w-100" style="display: none;">
									<img id="logo_img" src="" alt="" srcset="" class="mb-3" style="width: 80px; height: 80px;">
									<div class="input-group mb-3">
										<input type="text" id="logo_name" class="form-control" placeholder="https://www.youtube.com" aria-label="{{ "Recipient's username"|t }}" aria-describedby="basic-addon2">
										<span id="remove_logo" style="background: #ba0c2f;" class="input-group-text">
											<svg xmlns="http://www.w3.org/2000/svg" id="Grupo_1443" data-name="Grupo 1443" width="26" height="26" viewbox="0 0 26 26">
												<rect id="Rectángulo_2982" data-name="Rectángulo 2982" width="26" height="26" fill="none"/>
												<g id="Grupo_1291" data-name="Grupo 1291" transform="translate(3.651 3.651)">
													<path id="Trazado_55" data-name="Trazado 55" d="M907.176,15.355V9.405a.595.595,0,1,1,1.19,0v5.95a.595.595,0,1,1-1.19,0m4.165-1.785a.6.6,0,0,1-.6-.6V9.405a.6.6,0,1,1,1.19,0v3.57a.6.6,0,0,1-.595.6m0,2.38a.6.6,0,1,1,.595-.6.6.6,0,0,1-.595.6M916.7,6.43h-11.6a1.488,1.488,0,0,0-1.488,1.488v8.925a1.488,1.488,0,0,0,1.488,1.488h8.925a1.488,1.488,0,0,0,1.488-1.488V11.785a.6.6,0,1,1,1.19,0v5.355a2.379,2.379,0,0,1-2.38,2.38H904.8a2.38,2.38,0,0,1-2.38-2.38V7.62a2.381,2.381,0,0,1,2.38-2.38h11.9a1.19,1.19,0,0,0,0-2.38h-4.463c-.658,0-.83-1.19-1.488-1.19h-2.38c-.657,0-.83,1.19-1.487,1.19h-4.463a1.19,1.19,0,0,0-1.19,1.19.6.6,0,1,1-1.19,0,2.381,2.381,0,0,1,2.38-2.38h3.273c.657,0,.83-1.19,1.488-1.19h4.76c.658,0,.83,1.19,1.488,1.19H916.7a2.38,2.38,0,0,1,0,4.76" transform="translate(-900.036 -0.48)" fill="#fff" fill-rule="evenodd"/>
													<path id="Trazado_56" data-name="Trazado 56" d="M951.929,26.48a.893.893,0,1,1-.892.893.893.893,0,0,1,.892-.893" transform="translate(-935.863 -18.745)" fill="#fff" fill-rule="evenodd"/>
												</g>
											</svg>
											{{ "Remove"|t }}
										</span>
									</div>
								</div>
								<div id="logo_sub" class="input-group">
									<label id="open_input_file" class="input-group-text" form="logo" style="height:40px; border-radius:4px" id="basic-addon3">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Grupo_1453" data-name="Grupo 1453" width="32" height="29" viewbox="0 0 32 29">
											<defs>
												<linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
													<stop offset="0" stop-color="#d88d00"/>
													<stop offset="1" stop-color="#edc500"/>
												</linearGradient>
											</defs>
											<rect id="Rectángulo_2985" data-name="Rectángulo 2985" width="32" height="29" fill="none"/>
											<g id="Grupo_1451" data-name="Grupo 1451" transform="translate(5 5.393)">
												<path id="Trazado_95" data-name="Trazado 95" d="M619.281,326.35h-16.5a2.749,2.749,0,0,1-2.749-2.749v-9.623a2.746,2.746,0,0,1,2.59-2.741l1-1.763a2.354,2.354,0,0,1,1.941-.994h4.124a2.378,2.378,0,0,1,1.949.994l1.013,1.755h5.939a.687.687,0,1,1,0,1.375h-6.186a1.081,1.081,0,0,1-.36-.068h0a1.344,1.344,0,0,1-.72-.59l-.779-1.429a1.476,1.476,0,0,0-1.228-.663h-3.466a1.462,1.462,0,0,0-1.222.663l-.768,1.429a1.115,1.115,0,0,1-1.079.657,1.66,1.66,0,0,0-1.375,1.718v8.935a1.713,1.713,0,0,0,1.58,1.7.682.682,0,0,0,.138.014h15.808a1.719,1.719,0,0,0,1.718-1.718v-6.186a1.719,1.719,0,0,0-1.718-1.718H605.191a1.031,1.031,0,0,0-1.031,1.031v3.78a.687.687,0,0,1-1.375,0v-3.437c0-.077.006-.154.011-.229,0-.039-.011-.076-.011-.114v-.344a2.062,2.062,0,0,1,2.062-2.062h.344c.039,0,.076.009.114.011.076-.005.153-.011.229-.011h13.746a2.75,2.75,0,0,1,2.749,2.749V323.6a2.749,2.749,0,0,1-2.749,2.749" transform="translate(-600.036 -308.48)" fill="#fff" fill-rule="evenodd"/>
												<path id="Trazado_96" data-name="Trazado 96" d="M608.067,347.48a1.031,1.031,0,1,1-1.031,1.031,1.032,1.032,0,0,1,1.031-1.031" transform="translate(-604.63 -334.077)" fill-rule="evenodd" fill="url(#linear-gradient)"/>
											</g>
										</svg>
										{{ "Choose files"|t }}
									</label>
									<div id="logo_input" class="form-control" style="height:40px; border-radius:4px">
										<input type="file" id="logo" style="opacity:0">
									</div>

								</div>
								<div class="input_error">
									<i id="error_logo" class='bx bxs-info-circle toltip_i'>
										<span id="error_logo_message" class="tooltiptext_error">
											{{ "Required Field"|t }}
										</span>
									</i>
								</div>
							</div>

							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Only png formats with a maximum weight of 2 MB and minimum dimensions of 200x200 px are allowed."|t }}
									</span>
								</i>
								<span>{{ "Only png formats with a maximum weight of 2 MB and minimum dimensions of 200x200 px are allowed."|t }}</span>
							</div>
						</div>
						<div class="col-md-6" style="margin-bottom: 2rem;display: flex;flex-direction: column;justify-content: flex-end;">
							<label for="website" class="form-label">{{ "Company website"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="website">
								<i id="error_website" class='bx bxs-info-circle toltip_i'>
									<span id="error_website_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Please include the complete URL starting with http or https."|t }}
									</span>
								</i>
								<span>{{ "Please include the complete URL starting with http or https."|t }}</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="business_name" class="form-label">{{ "Company name"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="business_name" placeholder="">
								<i id="error_business_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_business_name_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "You must register the company's trade name, which is the name by which your company is recognized; it may or may not be the same company name."|t }}
									</span>
								</i>
								<span>{{ "You must register the company's trade name, which is the name by which your company is recognized; it may or may not be the same company name."|t }}</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="nit">{{ "NIT"|t }}
								 <sup>*</sup>
							</label>
							<input id="nit" class="form-control" type="num" disabled placeholder="830070123">
						</div>
						<div class="col-md-6">
							<div class="form-group password">
								<label for="nit">{{ "Password"|t }}
									 <sup>*</sup>
								</label>
								<div class="input-group mb-3">
									<input type="password" id="password" class="form-control" aria-label="{{ "Recipient's username"|t }}" aria-describedby="basic-addon2">
									<span class="input-group-text" id="span-password">
										<img id="pass_bloq" style="display:none" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña-Bloqueado.svg" alt="" srcset="">
										<img id="pass_show" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña.svg" alt="" srcset="">
									</span>
									<div class="input_error">
										<i id="error_password" class='bx bxs-info-circle toltip_i'>
											<span id="error_password_message" class="tooltiptext_error">
												{{ "Required Field"|t }}
											</span>
										</i>
									</div>
								</div>
								<div class="validation">
									<div class="progress">
										<div class="progress-bar" id="progressbar" role="progressbar" aria-label="{{ "Basic example"|t }}" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p id="error_mensaje_pass" style="word-break: initial;" class="mensaje">{{ "Weak"|t }}</p>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle toltip_i'>
										<span class="tooltiptext">
											{{ "Minimum 8 characters. Must contain 1 capital letter, symbol or number."|t }}
										</span>
									</i>
									<span>{{ "Minimum 8 characters. Must contain 1 capital letter, symbol or number."|t }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group password">
								<label for="nit">{{ "Verify Password"|t }} <sup>*</sup>
								</label>
								<div class="input-group mb-3">
									<input type="password" id="confirm_password" class="form-control" aria-describedby="basic-addon2">
									<span class="input-group-text" id="span-confirm_password">
										<img id="pass_bloq_confirm" style="display:none" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña-Bloqueado.svg" alt="" srcset="">
										<img id="pass_show_confirm" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña.svg" alt="" srcset="">
									</span>
									<div class="input_error">
										<i id="error_confirm_password" class='bx bxs-info-circle toltip_i'>
											<span id="error_confirm_password_message" class="tooltiptext_error">
												{{ "Required Field"|t }}
											</span>
										</i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" style="display: flex;flex-direction: column;justify-content: center;">
							<div class="form-group rihgt">
								<label for="nit">{{ "Company video"|t }}</label>
								<div class="icon_help toltip_i">
									<svg xmlns="http://www.w3.org/2000/svg" width="10.631" height="15.939" viewbox="0 0 10.631 15.939">
										<path id="Trazado_11" data-name="Trazado 11" d="M164.694,605.959a.516.516,0,0,1-.532-.5,3.094,3.094,0,0,1,3.189-2.988.5.5,0,1,1,0,1,2.063,2.063,0,0,0-2.126,1.992.516.516,0,0,1-.532.5m6.013,3.355a.141.141,0,0,0,.04-.021.5.5,0,0,0-.205.4v.747a2.062,2.062,0,0,1-2.126,1.992h-2.658a.5.5,0,1,0,0,1h2.126a.5.5,0,1,1,0,1h-1.329a.547.547,0,0,1-.112-.012,1.536,1.536,0,0,1-.154.012h-.532a1.5,1.5,0,1,1,0-2.989h2.658a1.031,1.031,0,0,0,1.063-1v-.747a1.453,1.453,0,0,1,.563-1.139.758.758,0,0,1-.145.092,3.9,3.9,0,0,0,1.708-3.187,4.262,4.262,0,0,0-8.505,0,3.9,3.9,0,0,0,1.708,3.187.757.757,0,0,1-.145-.092,1.453,1.453,0,0,1,.563,1.139v.249a.533.533,0,0,1-1.063,0v-.249a.5.5,0,0,0-.205-.4.139.139,0,0,0,.04.021,4.848,4.848,0,0,1-1.96-3.854,5.327,5.327,0,0,1,10.631,0,4.848,4.848,0,0,1-1.961,3.854m-3.887,6.108h1.063a.5.5,0,1,1,0,1H166.82a.5.5,0,1,1,0-1" transform="translate(-162.036 -600.48)" fill-rule="evenodd"/>
									</svg>
									<span class="tooltiptext_yotube">
										{{ "We suggest uploading summary videos that give a cross-cutting overview of the company's offer. It is important for the international buyer because it shows in a quick, brief and direct way the skills, competences and experience."|t }}
										<br>
										{{ "If you do not have a video in English, it is suggested to include subtitles to the video in Spanish."|t }}
									</span>
								</div>
								<div class="input-group mb-3">
									<input id="video" type="text" class="form-control" placeholder="https://www.youtube.com" aria-label="{{ "Recipient's username"|t }}" aria-describedby="basic-addon2">
									<span id="create_thumbnail_youtube" class="input-group-text">
										{{ "Add"|t }}
									</span>
									<div class="input_error">
										<i id="error_video" class='bx bxs-info-circle toltip_i'>
											<span id="error_video_message" class="tooltiptext_error">
												{{ "Required Field"|t }}
											</span>
										</i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row yotube" style="display:none">
								<div class="col-lg-4 ps-0">
									<img class="w-100" id="thumbnail" alt="Youtube thumbnail">
								</div>
								<div class="col-lg-8" style="padding: 0.5rem;padding-right: 2rem; position:relative">
									<p id="title"></p>
									<p id="author_name"></p>
									<i id="close_thumbnail" class='bx bx-x'></i>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">{{ "Spanish information"|t }}</p>
							<label for="asesor" class="form-label">{{ "Company Description"|t }}
								 <sup>*</sup>
							</label>
							<div style="display:flex">
								<textarea id="description_business_spanish" rows="4" cols="4"></textarea>
								<div class="input_error">
									<i id="error_description_business_spanish" class='bx bxs-info-circle toltip_i'>
										<span id="error_description_business_spanish_message" class="tooltiptext_error">
											{{ "Required Field"|t }}
										</span>
									</i>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">{{ "English information"|t }}</p>
							<label for="asesor" class="form-label">{{ "Company Description"|t }}
								 <sup>*</sup>
							</label>
							<div style="display:flex">
								<textarea id="description_business_english" rows="4" cols="4"></textarea>
								<div class="input_error">
									<i id="error_description_business_english" class='bx bxs-info-circle toltip_i'>
										<span id="error_description_business_english_message" class="tooltiptext_error">
											{{ "Required Field"|t }}
										</span>
									</i>
								</div>
							</div>

						</div>
					</form>
					<div class="row">
						<div class="col-lg-12 continue">
							<button id="cancel_process_1" aria-label="{{ "Cancel registration"|t }}" class="cancel">
								{{"CANCEL"|t }}
							</button>
							<button id="save_1" name="save_1" aria-label="{{ "Continue registration"|t }}" class="continue">{{ "CONTINUE"|t }}
							</button>
							<button style="display:none" class="continue" id="loading_1" type="button" disabled>
								<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
								{{ "Loading..."|t }}
							</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
					<form class="row g-4 gx-5 pb-4" style="padding: 1.5rem 0.5rem;">
						<div class="col-md-6">
							<label for="asesor" class="form-label ">{{ "Main production chain"|t }}
								 <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="production_chain_contain" class="w-100">
									<select id="production_chain" class="single_select" placeholder="{{ "Enter the keyword or select an option"|t }}" autocomplete="off">
										<option value="">{{ "Enter the keyword or select an option"|t }}</option>
										{% for production_chain_item in production_chain %}
											<option value="{{production_chain_item.ID}}">{{production_chain_item.Name}}
											</option>
										{% endfor %}
									</select>
								</div>

								<i id="error_production_chain" class='bx bxs-info-circle toltip_i'>
									<span id="error_production_chain_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>


						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">{{ "Departments"|t }} <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="departament_contain" class="w-100">
									<select id="departament" class="single_select" placeholder="{{ "Select an option"|t }}" autocomplete="off">
										<option value="">{{ "Select an option"|t }}</option>
										{% for deparment in deparments %}
											<option value="{{deparment.ID}}">{{deparment.Name}}</option>
										{% endfor %}
									</select>
								</div>

								<i id="error_departament" class='bx bxs-info-circle toltip_i'>
									<span id="error_departament_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-md-6">
							<label for="principal_code_ciiu" class="form-label">{{ "CIIU Code Main or Economic Activity"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="principal_code_ciiu" placeholder="">
								<i id="error_principal_code_ciiu" class='bx bxs-info-circle toltip_i'>
									<span id="error_principal_code_ciiu_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Indicate the CIIU code or economic activity to which your company belongs."|t }}
									</span>
								</i>
								<span>
									{{ "Indicate the CIIU code or economic activity to which your company belongs."|t }}
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="ciudad" class="form-label">{{ "City or Municipality"|t }} <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="ciudad_contain" class="w-100">
									<select id="ciudad" class="single_select" placeholder="{{ "Select an option"|t }}" autocomplete="off"></select>
								</div>

								<i id="error_ciudad" class='bx bxs-info-circle toltip_i'>
									<span id="error_ciudad_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">
								{{ "CIIU Code Secondary or Economic Activity"|t }}
							</label>
							<input type="text" class="form-control" id="secondary_code_ciiu" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Indicate the CIIU code or economic activity to which your company belongs."|t }}
									</span>
								</i>
								<span>
									{{ "Indicate the CIIU code or economic activity to which your company belongs."|t}}
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="modelo_de_negocio" class="form-label">{{ "Business Model"|t }} <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="modelo_de_negocio_contain" class="w-100">
									<select id="modelo_de_negocio" multiple placeholder="{{ "Enter the keyword or select several options"|t }}">
										<option value="">{{ "Select an option"|t }}</option>
										{% for business_model_item in business_model %}
											<option value="{{business_model_item.ID}}">{{business_model_item.Name}}</option>
										{% endfor %}
									</select>
								</div>
								<i id="error_modelo_de_negocio" class='bx bxs-info-circle toltip_i'>
									<span id="error_modelo_de_negocio_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">
								{{ "CIIU Code Tertiary or business activity"|t }}
							</label>
							<input type="text" class="form-control" id="third_code_ciiu" placeholder="">
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Indicate the CIIU code or economic activity to which your company belongs."|t }}
									</span>
								</i>
								<span>
									{{ "Indicate the CIIU code or economic activity to which your company belongs."|t }}
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="principal_advisor" class="form-label">
								{{ "ProColombia Senior Advisor"|t }}
							</label>
							<select name="principal_advisor" id="principal_advisor">
								<option value="">{{ "Enter the keyword or select an option"|t }}
								</option>
								{% for advisor_user in advisor %}
									<option value="{{advisor_user.ID}}">{{advisor_user.Name}}</option>
								{% endfor %}
							</select>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Select the ProColombia advisor with whom your company has a defined work plan."|t }}
									</span>
								</i>
								<span>
									{{ "Select the ProColombia advisor with whom your company has a defined work plan."|t }}
								</span>
							</div>
							<div class="input_error">
								<i id="error_asesor" class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="bottom" data-original-title="{{ "Required Field"|t }}"></i>
							</div>
						</div>
						<div class="col-md-6">
							<label for="certificación_de_empresa" class="form-label">
								{{ "Company certification"|t }}
							</label>
							<div style="display: flex;">
								<div id="logo_sub" class="input-group">
									<label id="open_input_file_certificate" class="input-group-text" form="logo" style="height:40px; border-radius:4px" id="basic-addon3">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Grupo_1453" data-name="Grupo 1453" width="32" height="29" viewbox="0 0 32 29">
											<defs>
												<linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
													<stop offset="0" stop-color="#d88d00"/>
													<stop offset="1" stop-color="#edc500"/>
												</linearGradient>
											</defs>
											<rect id="Rectángulo_2985" data-name="Rectángulo 2985" width="32" height="29" fill="none"/>
											<g id="Grupo_1451" data-name="Grupo 1451" transform="translate(5 5.393)">
												<path id="Trazado_95" data-name="Trazado 95" d="M619.281,326.35h-16.5a2.749,2.749,0,0,1-2.749-2.749v-9.623a2.746,2.746,0,0,1,2.59-2.741l1-1.763a2.354,2.354,0,0,1,1.941-.994h4.124a2.378,2.378,0,0,1,1.949.994l1.013,1.755h5.939a.687.687,0,1,1,0,1.375h-6.186a1.081,1.081,0,0,1-.36-.068h0a1.344,1.344,0,0,1-.72-.59l-.779-1.429a1.476,1.476,0,0,0-1.228-.663h-3.466a1.462,1.462,0,0,0-1.222.663l-.768,1.429a1.115,1.115,0,0,1-1.079.657,1.66,1.66,0,0,0-1.375,1.718v8.935a1.713,1.713,0,0,0,1.58,1.7.682.682,0,0,0,.138.014h15.808a1.719,1.719,0,0,0,1.718-1.718v-6.186a1.719,1.719,0,0,0-1.718-1.718H605.191a1.031,1.031,0,0,0-1.031,1.031v3.78a.687.687,0,0,1-1.375,0v-3.437c0-.077.006-.154.011-.229,0-.039-.011-.076-.011-.114v-.344a2.062,2.062,0,0,1,2.062-2.062h.344c.039,0,.076.009.114.011.076-.005.153-.011.229-.011h13.746a2.75,2.75,0,0,1,2.749,2.749V323.6a2.749,2.749,0,0,1-2.749,2.749" transform="translate(-600.036 -308.48)" fill="#fff" fill-rule="evenodd"/>
												<path id="Trazado_96" data-name="Trazado 96" d="M608.067,347.48a1.031,1.031,0,1,1-1.031,1.031,1.032,1.032,0,0,1,1.031-1.031" transform="translate(-604.63 -334.077)" fill-rule="evenodd" fill="url(#linear-gradient)"/>
											</g>
										</svg>
										{{ "Choose files"|t }}
									</label>
									<div id="logo_input2" class="form-control" style="height:40px; border-radius:4px">
										<p id="fileNameCertificate" class="text-truncate"></p>
										<input type="file" id="certificateFile" style="opacity:0">
									</div>

								</div>
								<div class="input_error">
									<i id="error_certification_business_file" class='bx bxs-info-circle toltip_i'>
										<span id="error_certification_business_file_message" class="tooltiptext_error">
											{{ "Required Field"|t }}
										</span>
									</i>
								</div>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ "Only files in pdf format with a maximum weight of 2MB are allowed."|t }}
									</span>
								</i>
								<span>
									{{ "Only files in pdf format with a maximum weight of 2MB are allowed."|t }}
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">
								{{ "Company certification"|t }}
							</label>
							<select id="certificacion_de_empresa" multiple placeholder="{{ "Enter the keyword or select several options"|t }}">
								<option value="">{{ "Select an option"|t }}</option>
								{% for certificacion_de_empresa_item in certificacion_de_empresa %}
									<option value="{{certificacion_de_empresa_item.ID}}">
										{{certificacion_de_empresa_item.Name}}</option>
								{% endfor %}
							</select>
						</div>
					</form>
					<div class="row">
						<div class="col-lg-6 back">
							<button id="go_back_tab_1" aria-label="{{ "PREVIOUS"|t }}" class="back_btn">
								{{ "PREVIOUS"|t}}
							</button>
						</div>
						<div class="col-lg-6 continue">
							<button id="cancel_process_2" aria-label="{{"Cancel registration"|t }}" class="cancel">{{"CANCEL"|t }}</button>
							<button id="save_2" name="save_2" aria-label="{{"Continue registration"|t }}" class="continue">{{"CONTINUE"|t }}</button>
							<button style="display:none" class="continue" id="loading_2" type="button" disabled>
								<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
								{{"Loading..."|t }}
							</button>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
					<form class="row g-4 gx-5 pb-4" style="padding: 1.5rem 0.5rem;">
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">{{"Names"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="name" placeholder="" maxlength="20">
								<i id="error_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_name_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-md-6">
							<label for="nombre_del_sitio" class="form-label">{{"Last names"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="last_name" placeholder="" maxlength="20">
								<i id="error_last_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_last_name_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">{{ "Information in Spanish"|t }}</p>
							<label for="nombre_del_sitio" class="form-label">Nombre del cargo
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="position_spanish" placeholder="" maxlength="50">
								<i id="error_position_spanish" class='bx bxs-info-circle toltip_i'>
									<span id="error_position_spanish_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-md-6">
							<p class="title_label">{{ "Information in English"|t }}</p>
							<label for="nombre_del_sitio" class="form-label">Job title
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="position_english" placeholder="" maxlength="50">
								<i id="error_position_english" class='bx bxs-info-circle toltip_i'>
									<span id="error_position_english_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ "This field must be completed in English."|t }}"></i>
								<span>{{ "This field must be completed in English."|t }}</span>
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">
								{{ "Company landline telephone"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<div class="col-lg-3 code-input" style="padding: 0px;">
									<input id="country_code_landline" class="hidden-input" type="tel" name="phone"/>
								</div>
								<div class="col-lg-9 cel-input d-flex align-items-center" style="padding-right: 0px;padding-left: 0px;">
									<input class="w-100 form-control" style="height: 100%;" type="tel" name="" maxlength="10" id="landline">
									<i id="error_landline" class='bx bxs-info-circle toltip_i'>
									<span id="error_landline_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<label for="sitio" class="form-label">
								{{ "Cell Phone"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
								<div class="col-lg-3 code-input" style="padding: 0px;">
									<input id="country_code_mobile" class="hidden-input" type="tel" name="phone"/>
								</div>
								<div class="col-lg-9 cel-input d-flex align-items-center" style="padding-right: 0px;padding-left: 0px;">
									<input class="w-100 form-control" maxlength="10" style="height: 100%;" type="tel" name="" id="mobile">
									<i id="error_mobile" class='bx bxs-info-circle toltip_i'>
									<span id="error_mobile_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
								</div>
								
							</div>
						</div>
						<div class="col-md-6">
							<label for="contact_email" class="form-label">{{ "Email"|t }}
								 <sup>*</sup>
							</label>
							<div class="input_error">
							<input type="email" class="form-control" id="contact_email" placeholder="">
								<i id="error_email" class='bx bxs-info-circle toltip_i'>
									<span id="error_email_message" class="tooltiptext_error">
										{{ "Required Field"|t }}
									</span>
								</i>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-lg-6 back">
							<button id="go_back_tab_2" aria-label="{{ "PREVIOUS"|t }}" class="back_btn">
								{{ "PREVIOUS"|t}}
							</button>
						</div>
						<div class="col-lg-6 continue">
							<button id="cancel_process_3" aria-label="{{"Cancel registration"|t }}" class="cancel">{{"CANCEL"|t }}</button>
							<button id="save_3" name="save_3" aria-label="{{"Continue registration"|t }}" class="continue">{{"CONTINUE"|t }}</button>
							<button style="display:none" class="continue" id="loading_3" type="button" disabled>
								<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
								{{ "Loading..."|t}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="check_information" tabindex="-1" aria-labelledby="alert_1Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_1Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg" alt="" srcset="">{{ "Contact Information"|t}}</h5>
					<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
				</div>
				<div class="modal-body">
					<h6 class="text-danger pb-2">
						<b>{{ "Keep the following in mind!"|t}}</b>
					</h6>
					<p>
						{{ "The information filled out in these fields will be used to send all notifications arising in general from the platform and will be sent as commercial contact to international buyers interested in the company's products or services."|t}}
					</p>
				</div>
				<div class="modal-footer">
					<button id="go_to_step_3" type="button" aria-label="{{ "UNDERSTOOD"|t}}" class="btn cita_btn">
						{{"UNDERSTOOD"|t}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="success_modal" tabindex="-1" aria-labelledby="alert_2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg" alt="" srcset="">
						{{"Successful process"|t}}
					</h5>
				</div>
				<div class="modal-body">
					<p>{{"Your profile as an"|t}}
						<strong id="empresa_popup" class="strong_empresa">traer Nombre de la empresa</strong>
						{{"exporting company is in pending status for approval by ProColombia. Your advisor will contact you in case there is any observation about the information registered."|t}}
					</p>
				</a>
			</p>
		</div>
		<div class="modal-footer">
			<button id="go_to_menu" type="button" aria-label="{{ "UNDERSTOOD"|t}}" class="btn cita_btn">
				{{"UNDERSTOOD"|t}}
			</button>
		</div>
	</div>
</div></div>


<div class="generic-modal modal cancel-confirm-question-modal fade" id="cancel_modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<span class="modal-header-title">{{ "Cancel process"|t }}</span>
				<button class="modal-header-close close" data-bs-dismiss="modal"><span  data-bs-dismiss="modal">×</span></button>
				</div>
				<div class="modal-body">
				<span class="modal-top-title">
				{{ "The Colombian Company Registration process"|t }}
					<strong>{{ "is about to be cancelled."|t }}</strong>
				</span>
				</div>
				<div class="modal-footer">
				<div class="modal-footer-left">
					{{ "Do you want to continue?"|t }}
				</div>
				<div class="modal-footer-right">
					<a id="hide_cancel_process" class="button btn btn-cancel" href="#">{{ "NO"|t }}</a>
					<a class="button btn btn-ok" id="delete_user">{{ "YES"|t }}</a>
				</div>
				</div>
			</div>
		</div>
</div>
</section>
