{{ attach_library('cp_incentives/cp_incentives') }}
<button id='create-reference-code' >
    CREAR CODIGO DE REFERIDOOOOOOOOOOOOO
</button>
<input readonly id='reference-code'/>
<button id='create-points' >
    Crear PUNTOS
</button>
<section>
    <p>PROCOLOMBIA LO RECONOCE COMO NIVEL DE <strong>ALIADO {{ status }}</strong></p>
    <p><strong>Nombre de la empresa:</strong> {{ company_name }}</p>
    <p><strong>Puntos obtenidos:</strong> {{ total_points }} puntos</p>

</section>
<section class='mainCpIncentivesCompanyCol'>
    <button id="how-get-points-open">
            MOSTRAR COMO GANAR PUNTOS
        </button>
    <p>
        {{ 'Testing translations 2'|t }}
    </p>
    <section id="list-of-incentive-plan" class='mainCpIncentivesAdviser'>
    
    </section>

    <section id="how-get-points" class='mainCpIncentivesAdviser' style='display: none;'>
        <button id="how-get-points-close">
            CERRAR ESTE BOTON
        </button>
    </section>

</section>
