{{ attach_library('cp_incentives/cp_incentives') }}
<button id='create-reference-code' >
    {{ "CREATE REFERAL CODE"|t }}
</button>
<input readonly id='reference-code'/>
<button id='create-points' >
    Crear PUNTOS
</button>
<p>
    {{ "BENEFITS ACCORDING TO PROCOLOMBIA AFILIATE'S STATUS CLASSIFICATION"|t }}
</p>
<section>
    <p>{{ "PROCOLOMBIA RECOGNIZES YOU AS A "|t }}<strong>{{ status }}</strong></p>
    <p><strong>{{"Company's name:"|t }}</strong> {{ company_name }}</p>
    <p><strong>{{ "Points Earned:"|t }}</strong> {{ total_points }} {{ "points"|t }}</p>

</section>
<section class='mainCpIncentivesCompanyCol'>
    <button id="how-get-points-open">
        {{ "LEARN HOW TO LEVEL UP"|t }}
    </button>
    <p>
        {{ 'Testing translations 2'|t }}
    </p>
    <section id="list-of-incentive-plan" class='mainCpIncentivesAdviser'>
    
    </section>

    <section id="how-get-points" class='mainCpIncentivesAdviser' style='display: none;'>
        <button id="how-get-points-close">
            CERRAR ESTE BOTON
        </button>
    </section>

    <section id="products-services" class='mainCpIncentivesAdviser'>
        <h1>{{ "<strong>FEATURED</strong> PRODUCTS / SERVICES"|t }}</h1>
        <p>{{ "ProColombia recognizes you as a"|t }} <strong>{{ status }}</strong>{{ " <strong>ally.</strong>"|t }}</p>
        <p>{{ "Here you can view your products / services at the platform."|t }}</p>
    </section>
</section>

<section class="container">
    <div>
        
    </div>
</section>