{#
/**
 * @file
 * Default theme implementation for an individual form element.
 *
 * Available variables for all fields:
 * - multiple: Whether there are multiple instances of the field.
 *
 * Available variables for single cardinality fields:
 * - elements: Form elements to be rendered.
 *
 * Available variables when there are multiple fields.
 * - table: Table of field items.
 * - description: The description element containing the following properties:
 *   - content: The description content of the form element.
 *   - attributes: HTML attributes to apply to the description container.
 * - button: "Add another item" button.
 *
 * @see template_preprocess_cp_field_features_multiple_value_form()
 *
 * @ingroup themeable
 */
#}
<div class="structure-field-wrapper-common">
  <div class="structure-field-wrapper">
    {% if 'multilang' in attributes['class'] %}
      {% trans %}<h2>Fields for both languages</h2>{% endtrans %}
    {% endif %}
    <div class="structure-field-wrapper-top">
    {% for element in elements %}
      {% if 'top' in element['#attributes']['class'] and  'lang-all' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
    <div class="structure-field-wrapper-columns">
      <div class="structure-field-wrapper-left">
      {% for element in elements %}
        {% if 'left' in element['#attributes']['class'] and  'lang-all' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
      <div class="structure-field-wrapper-right">
      {% for element in elements %}
        {% if 'right' in element['#attributes']['class'] and  'lang-all' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="structure-field-wrapper-bottom">
    {% for element in elements %}
      {% if 'bottom' in element['#attributes']['class'] and  'lang-all' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="structure-field-wrapper-langs">
  <div class="structure-field-wrapper">
    {% if 'spanish' in attributes['class'] %}
      {% trans %}<h2>Fields for Spanish</h2>{% endtrans %}
    {%endif %}
    <div class="structure-field-wrapper-top">
    {% for element in elements %}
      {% if 'top' in element['#attributes']['class'] and  'lang-es' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
    <div class="structure-field-wrapper-columns">
      <div class="structure-field-wrapper-left">
      {% for element in elements %}
        {% if 'left' in element['#attributes']['class'] and  'lang-es' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
      <div class="structure-field-wrapper-right">
      {% for element in elements %}
        {% if 'right' in element['#attributes']['class'] and  'lang-es' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="structure-field-wrapper-bottom">
    {% for element in elements %}
      {% if 'bottom' in element['#attributes']['class'] and  'lang-es' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="structure-field-wrapper">
    {% if 'english' in attributes['class'] %}
      {% trans %}<h2>Fields for English</h2>{% endtrans %}
    {%endif %}
    <div class="structure-field-wrapper-top">
    {% for element in elements %}
      {% if 'top' in element['#attributes']['class'] and  'lang-en' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
    <div class="structure-field-wrapper-columns">
      <div class="structure-field-wrapper-left">
      {% for element in elements %}
        {% if 'left' in element['#attributes']['class'] and  'lang-en' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
      <div class="structure-field-wrapper-right">
      {% for element in elements %}
        {% if 'right' in element['#attributes']['class'] and  'lang-en' in element['#attributes']['class'] %}
          {{ element }}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="structure-field-wrapper-bottom">
    {% for element in elements %}
      {% if 'bottom' in element['#attributes']['class'] and  'lang-en' in element['#attributes']['class'] %}
        {{ element }}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
