
<!-- Modal -->
<div class="modal fade" id="{{ idModal }}" tabindex="-1" aria-labelledby="{{ idModal }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ idModal }}Label">{{ title }}</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <p>{{ 'Do you wish to continue?'|t}} <p>
        <button type="button" class="btn btn-primary" id="btn-{{ idModal }}"> {{ 'YES'|t }} </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'NO'|t }}</button>
      </div>
    </div>
  </div>
</div>
