{{ attach_library('cp_ia_search/cp_ia_search') }}
<!-- Make a button to create a new chat -->
<section class="cp_temp_share">
    <div id="not-found-login" class="empty-search container py-5" style="display: none;">
        <div class="row mt-4">
            <div class="col-lg-6">
                <p class="fs-3 no-result">{{ "With the search criteria you entered to the system "|t }}
                    <span id="not-found-login-search" class=""></span>
                    {{ ", there are currently no results available. "|t }}
                    {{ "We recommend reviewing the text you entered and perform a new search. If you do not find what you need or have questions, you can contact your PROCOLOMBIA advisor."|t }}
                </p>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>{{ "Make sure all words are spelled correctly."|t }}</li>
                    <li>{{ "Try different keywords."|t }}</li>
                    <li>{{ "Try other general keywords."|t }}</li>
                    {# <li>{{ "Check the spelling of the word."|t }}</li>
                    <li>{{ "Use more generic words or fewer words."|t }}</li> #}
                    {# <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">{{ "Browse by category"|t }}</a>
                        {{ "to find a similar product or service."|t }}
                    </li> #}
                </ul>
            </div>
            <div class="fs-3 my-5 py-4 px-2 bg-white" style="box-shadow: 0px 3px 6px #00000029;border-radius: 4px;">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="fs-5 no-result">{{ "Suggested recommendations"|t }}</p>
                    </div>
                    <div class="col-lg-6 text-end">
                        <p class="fs-5 no-result">{{ "Suggested recommendations"|t }}</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">Slide 1</div>
                                <div class="swiper-slide">Slide 2</div>
                                <div class="swiper-slide">Slide 3</div>
                                <div class="swiper-slide">Slide 4</div>
                                <div class="swiper-slide">Slide 5</div>
                                <div class="swiper-slide">Slide 6</div>
                                <div class="swiper-slide">Slide 7</div>
                                <div class="swiper-slide">Slide 8</div>
                                <div class="swiper-slide">Slide 9</div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative pt-4">
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box">
                                <i class='bx bx-heart'></i>
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://d2d21jw8en5l3a.cloudfront.net/vendty2_db_28302_luis2020/imagenes_productos/MOCHILA%20WAYUU%20ZAPOTE%201.jpg"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
    <div id="not-found" class="empty-search container py-5" style="display: none;">
        <div class="row mt-4">
            <div class="col-lg-6">
                <p class="fs-3 no-result">{{ "With the search criteria you entered to the system "|t }}
                    <span id="not-found-search" class=""></span>
                    {{ ", there are currently no results available. "|t }}
                    {{ "We recommend reviewing the text you entered and perform a new search. If you do not find what you need or have questions, you can contact your PROCOLOMBIA advisor."|t }}
                </p>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>{{ "Make sure all words are spelled correctly."|t }}</li>
                    <li>{{ "Try different keywords."|t }}</li>
                    <li>{{ "Try other general keywords."|t }}</li>
                    {# <li>{{ "Check the spelling of the word."|t }}</li>
                    <li>{{ "Use more generic words or fewer words."|t }}</li> #}
                    {# <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer"> {{ "Browse by category"|t }}</a>
                        {{ "to find a similar product or service."|t }}
                    </li> #}
                </ul>
            </div>
            <p class="fs-3 my-5 tittle-search">{{ "Procolombia's Suggestions"|t }}</p>
            <div class="position-relative pt-4">
                <!-- Slider main container -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box">
                                <i class='bx bx-heart'></i>
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://d2d21jw8en5l3a.cloudfront.net/vendty2_db_28302_luis2020/imagenes_productos/MOCHILA%20WAYUU%20ZAPOTE%201.jpg"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div class="box-header">
                                    <img src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/papaya_0.jpg.webp?itok=bSQ-ahSk"
                                        alt="rover" />
                                </div>
                                <div class="box-body">
                                    <h4>PAPAYA PEQUEÑA</h4>
                                    <p>Fruit S.A.S</p>
                                    <small class="text-muted">{{ "Food"|t }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
    <div id="loader-product" class="justify-content-center align-items-center loader-json" style="display: flex;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player id="lottie" src="https://assets2.lottiefiles.com/packages/lf20_rlmdrwm8.json" background="transparent"
            speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div id="content-products" class="product container" style="display: none;">
        <div class="row">
            <div class="col-lg-4">
                <p id="words-title" class="fs-2 title-product"></p>
                <p class="result-product"><span id="total-uno">20.414</span>{{ " results"|t }}</p>
            </div>
            <div class="col-lg-8 align-items-center col-lg-6 d-flex justify-content-end">
                <button id="clean-filter"  class="align-items-center border-0 d-flex px-3 py-2"> <i class='bx bx-slider-alt me-2'></i>
                    {{ "Reset filter"|t }}</button>
                <div class="align-items-center bg-white d-flex mx-2 filters-select">
                    <span>
                        {{ "Sort by"|t }}
                    </span>
                    <select name="" id="">
                        <option value="">{{ "Most visited products"|t }}</option>
                        <option value="">{{ "Alphabetical order"|t }}</option>
                        <option value="">{{ "Most recent update date"|t }}</option>
                    </select>
                </div>
                <div class="align-items-center bg-white d-flex mx-2 filters-select">
                    <select style="width: 140px;" name="" id="">
                        <option value="">10{{ " results"|t }}</option>
                        <option value="">20{{ " results"|t }}</option>
                        <option value="">50{{ " results"|t }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-3">
                <div class="left-bar-filtre">
                    <div class="opc-search">
                        <div class="header px-3 py-2 text-white">
                            {{ "Search options:"|t }}
                        </div>
                        <div class="body px-3 py-2">
                            <p class="body-search-result">{{ "Your search"|t }} <strong id="words-filter"></strong> {{ " appears in:"|t }}
                            </p>
                            <strong id="category-length"></strong>
                            <p class="body-search-result fst-italic">{{ "Select the one you are interested in"|t }}</p>

                            <div class="lis-cat">
                                <ul class="list-unstyled" id="list-cat-search">

                                </ul>

                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <button id="filter-cat" class="align-items-center border-0 d-flex px-3 py-2"> <i
                                        class='bx bx-slider-alt me-2'></i>
                                    {{ "Apply filtering"|t }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="filter-by">
                        <p class="mb-1 mt-4">{{ "Filter by:"|t }}</p>
                        <ul class="list-unstyled">
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">{{ "Product"|t }}
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">{{ "Service"|t }}
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                            </li>
                            <li>
                                <div class="form-inline d-flex align-items-center">
                                    <label class="tick">{{ "Company"|t}}
                                        <input type="checkbox">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <div id="product-list">

                </div>
                <div class="align-items-end p-0 row">
                    <div class="col-lg-6 p-0">
                        <p class="mb-0">{{ "Total items:"|t }} <strong class="p-1 rounded"
                                style="box-shadow: inset 0px 3px 6px #0000001A;" id="total-dos">2401</strong></p>
                    </div>
                    <div class="col-lg-6 pagina-tion text-end p-0">
                        <ul id="pagination">

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <div class="modal-header" style="background: #005CA4">
            <h5 class="modal-title text-white" style="font-size: 22px !important;" id="exampleModalLabel"><i class='bx bx-slider-alt me-2'></i>{{ "Search options:"|t }}</h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewbox="0 0 512 512" data-bs-dismiss="modal">
                <title>close</title>
                <path style="fill: #fff;" d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path>
            </svg>
        </div>
        <div class="modal-body">
           <p class="body-search-result">{{ "Your search"|t }}<strong style="color: #0085CA;" id="words-filter-2"></strong> {{ " appears in:"|t }} <strong style="color: #0085CA;" id="category-length-2"></strong></p>
           <p class="body-search-result fst-italic mb-2">{{ "Select the one you are interested in"|t }}</p>
           <div class="lis-cat">
             <ul class="list" id="list-cat-search-2"></ul>
           </div>
        </div>
        <div class="modal-footer continue">
            <button type="button" id="filter-cat-2" class="btn continue fs-6">{{ "Apply search filter"|t }}</button>
        </div>
        </div>
    </div>
    </div>
</section>