{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div class="container-fluid">
  <div class="two-columns-container row">
    <div class="col-sm-9">
      <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {% if title %}
          {{ title }}
        {% endif %}
        {{ title_suffix }}

        {% if exposed %}
          <div class="view-filters">
            {{ exposed }}
          </div>
          <div class="filters-result">
            {% if header %}
              <div class="view-header">
                {{ header }}
              </div>
            {% if view.getExposedInput.title is defined %}
              <div class="items-result">
                <p>{{ 'Se encontraron'|t }} <strong>{{ view.total_rows }} {{ 'resultados'|t }}</strong> {{ 'asociados a tu búsqueda'|t }}</p>
                <a href="{{ view.getUrlInfo }}/{{ view.args[0] }}">{{ 'Restablecer filtrado'|t }}</a>
              </div>
            {% endif %}
            {% endif %}
            </div>
        {% endif %}
        <div class="after-filters-container">
        {% if pager %}
          {{ pager }}
        {% endif %}
        </div>
        {% if attachment_before %}
          <div class="attachment attachment-before">
            {{ attachment_before }}
          </div>
        {% endif %}

        <div>
        </div>
        {% if rows %}
          <div class="view-content row">
          {% if view.total_rows == 0 and view.getExposedInput.title is not defined %}
            <div class="generic-modal modal view-no-results" id="generic-modal-view-no-results">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="modal-header-title">{{ 'Without results' | t }}</span>
                    <button class="modal-header-close close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                  </div>
                  <div class="modal-body">
                    <span class="modal-top-title">{{ 'The company does not yet have products or services uploaded to the system.' | t }}</span>
                  </div>
                  <div class="modal-footer">
                    <div class="modal-footer-left">
                      <a href="/dashboard-advisor" data-dismiss="modal" aria-label="Close">{{ 'Agreed'|t }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            {{ rows }}
          {% endif %}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}
        {% if more %}
          {{ more }}
        {% endif %}

        <div class="pager-with-count">
          {% if footer %}
            <div class="view-footer">
               <p>{{ 'Total ítems:'|t }} <span>{{ view.total_rows }}</span></p>
              {{ footer }}
            </div>
          {% endif %}
          <div class="pager-right">
            {% if pager %}
              {{ pager }}
            {% endif %}
          </div>
        </div>
        {% if feed_icons %}
          <div class="feed-icons">
            {{ feed_icons }}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

