{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<nav class="rounded-2 navbar navbar-dark bg-degradado ">
 <h4 class="ms-3 text-white">Condiciones de Acceso</h4>
 <button class="btn btn-primary" onclick="window.location.href = '/';"><i class="fa fa-trash"></i> Cancelar</button>
</nav>

<div class="container-fluid "> 
{% for row in rows %}
<div class="row mt-4 mb-4">
      <div class="col-sm-12 col-md-6">
        <h5 class="border-bottom border-dark">{{ row.content['#row']._entity.title.value }}</h5>
        <p>{{ row.content['#row']._entity.field_accesscontentdescriptionto.value }}</p>
        <img class="img-fluid" src="{{file_url(row.content['#row']._entity.field_accesscontent_logo.entity.fileuri)}}">
        <h5>Pagina Web</h5>
        <a id="pagina-web"  href="{{ row.content['#row']._entity.field_pagina_web_.0.url}}">
        <i class="fa fa-external-link-alt"></i>
        {{ row.content['#row']._entity.field_pagina_web_.0.title}}
        </a>
        <h5>Ir a la herramienta</h5>
        
        <a id="pagina-web"  href="{{ row.content['#row']._entity.field_accessconditioncontent_lin.0.url}}">
        <i class="fa fa-external-link-alt"></i>
        {{ row.content['#row']._entity.field_accessconditioncontent_lin.0.title}}
        </a>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5>Video Tutorial</h5>
        <div class="ratio ratio-16x9">
          <iframe title="YouTube video" style="max-width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ row.content['#row']._entity.field_video_tutorial_ac.entity.fileuri | replace({'youtube://': '', }) }}?rel=0" allowfullscreen></iframe>

        </div>
        
      </div>
    </div>

{% endfor %}
</div>
