{{ attach_library('cp_layout/cp_layout') }}
<div class="d-flex justify-content-between px-3 py-2 menu_pc">
	<div>
		<a href="/">
			<img class="logo" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/logo_pco_negro2%20%281%29.svg" alt="" srcset="">
		</a>
	</div>
	<div class="btn_header">
		<button id="btn_login_2" type="button" class="btn btn-outline text-uppercase">
			{{ "Log In"|t }}
		</button>
		<button id="btn_register_2" type="button" class="btn btn-outline-d text-uppercase">
			{{ "Register"|t }}
		</button>
	</div>
</div>
<div class="sub-header">
	<div class="row">
		<div class="col-lg-3 p-2 position-relative">
			<div onclick="show_left_menu()" class="menu-left" id="menu-left">
				<div class="menu-content">
					<i class='bx bx-menu'></i>
					<p>{{ "Products and Services"|t }}</p>
				</div>
			</div>
			<div class="left_bar" id="left_bar" style="display:none ;opacity: 0;">
				<div class="bar_content"></div>
			</div>
		</div>
		<div class="col-lg-8 p-2 position-relative">
			<form class="position-relative">
				<div class="d-flex justify-content-center align-items-center">
					<input type="text" class="search-input search"
						placeholder="Escribe algo en específico para realizar una búsqueda" name="search-input"
						id="search-input" autocomplete="off">
					<input type="text" name="uid-input" hidden disabled style="user-select: none;z-index: -20;"
						id="uid-input" value="indefinido">
					<input type="text" name="country-input" hidden disabled style="user-select: none;z-index: -20;"
						id="country-input" value="{{country}}">
					<div id="search-button" class="search-icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							width="20.837" height="17.588" viewbox="0 0 20.837 17.588">
							<defs>
								<linearGradient id="circle_search" x1="0.5" x2="0.5" y2="1"
									gradientunits="objectBoundingBox">
									<stop offset="0" stop-color="#3b3d42" />
									<stop offset="1" stop-color="#a1a5aa" />
								</linearGradient>
								<linearGradient id="circle_search-2" x1="0.5" x2="0.5" y2="1"
									gradientunits="objectBoundingBox">
									<stop offset="0" stop-color="#d88d00" />
									<stop offset="1" stop-color="#edc500" />
								</linearGradient>
							</defs>
							<g id="Grupo_3613" data-name="Grupo 3613" transform="translate(-890.917 -7.949)">
								<path id="lupa" data-name="Trazado 23"
									d="M15.57,14.062h-.794l-.282-.272a6.546,6.546,0,1,0-.7.7l.272.282v.794l5.028,5.018,1.5-1.5Zm-6.034,0a4.525,4.525,0,1,1,4.525-4.525A4.519,4.519,0,0,1,9.537,14.062Z"
									transform="translate(891.166 4.949)" fill="url(#circle_search)" />
								<path id="Trazado_3506" data-name="Trazado 3506"
									d="M469.118,357.48a1.231,1.231,0,1,1-1.231,1.231,1.232,1.232,0,0,1,1.231-1.231"
									transform="translate(423.03 -348.521)" fill-rule="evenodd"
									fill="url(#circle_search-2)" />
							</g>
						</svg>
					</div>
				</div>
				<div id="search-recommendations"
					class="mt-2 p-2 position-absolute search-cont start-0 top-100 w-100 py-4 px-3"
					style="display: none;">
					<p class="tittle">RECOMENDACIONES</p>
					<div class="d-flex justify-content-between align-items-end">
						<div class="row">
							<div class="col-lg-12 p-0 pt-2">
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Aceite de palma</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Productos Cárnicos</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Cafés Especiales</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Aceites y grasas</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Especias</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Banano</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Bebidas alcohólicas</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Bebidas no alcohólicas</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Azúcar de Caña</label>
								</div>
								<div class="item">
									<input type="radio" class="btn-check" name="options" id="option1"
										autocomplete="off">
									<label class="btn item-select" for="option1">Cacao</label>
								</div>
							</div>
						</div>
						<div class="more-option">
							<button>
								<i class='bx bx-plus'></i>
							</button>
						</div>
					</div>
				</div>
				<div id="search-suggestions"
					class="mt-2 p-2 position-absolute search-cont start-0 top-100 w-100 py-4 px-3"
					style="display: none;">
					<p class="tittle">SUGERENCIAS</p>
					<div class="d-flex justify-content-between align-items-end">
						<div class="row">
							<div class="col-lg-12 p-0 pt-2" id="list-search-suggest">

							</div>
							<div class="col-lg-12 p-0 pt-2" id="loader-suggest">
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
								<div class="item">
									<p class="placeholder-glow">
										<span class="placeholder col-12"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="more-option">
							<button>
								<i class='bx bx-plus'></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-1 p-2">
			<div class="dropdown">
				<button id="drop_menu" class="btn btn-secondary dropdown-toggle" type="button">
					<img style="width: 26px;"
						src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Icono-Menu-Idioma.svg"
						alt="" srcset="">
					<span class="text-truncate">{{language}}</span>
				</button>
				<ul class="dropdown-menu" id="lenguaje">
					<li id="change_language">
						<a class="dropdown-item" href="#">
							<img style="width: 26px;"
								src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Icono-Menu-Idioma.svg"
								alt="" srcset="">
							<span class="text-truncate">{{language_2}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="topnav">
	<a href="/">
		<img class="logo" src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/logo_pco_negro2%20%281%29.svg" alt="" srcset="">
	</a>
	<div class="d-flex justify-content-end" style="background-color: #fff;    padding: 6px 0px; border-radius: 5px;">
		<div>
			<button aria-label="{{ "Search"|t }}" class="search_btn_mobile">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20.837" height="17.588" viewbox="0 0 20.837 17.588">
					<defs>
						<linearGradient id="search_icon_mobil" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
							<stop offset="0" stop-color="#3b3d42"/>
							<stop offset="1" stop-color="#a1a5aa"/>
						</linearGradient>
						<linearGradient id="search_circle_mobile" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
							<stop offset="0" stop-color="#d88d00"/>
							<stop offset="1" stop-color="#edc500"/>
						</linearGradient>
					</defs>
					<g id="Grupo_3613" data-name="Grupo 3613" transform="translate(-890.917 -7.949)">
						<path id="Trazado_23" data-name="Trazado 23" d="M15.57,14.062h-.794l-.282-.272a6.546,6.546,0,1,0-.7.7l.272.282v.794l5.028,5.018,1.5-1.5Zm-6.034,0a4.525,4.525,0,1,1,4.525-4.525A4.519,4.519,0,0,1,9.537,14.062Z" transform="translate(891.166 4.949)" fill="url(#search_icon_mobil)"/>
						<path id="Trazado_3506" data-name="Trazado 3506" d="M469.118,357.48a1.231,1.231,0,1,1-1.231,1.231,1.232,1.232,0,0,1,1.231-1.231" transform="translate(423.03 -348.521)" fill-rule="evenodd" fill="url(#search_circle_mobile)"/>
					</g>
				</svg>
			</button>
		</div>
		<div class="dropdown ms-1">
			<button id="change_language_button_main" class="btn dropdown-toggle" type="button">
				<img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Icono-Menu-Idioma.svg" alt="" srcset="">
				<span class="text-truncate">{{language}}</span>
			</button>
			<ul class="dropdown-menu" id="change_language_content_main">
				<li id="change_language_main">
					<a class="dropdown-item" href="#">
						<img src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Icono-Menu-Idioma.svg" alt="" srcset="">
						<span class="text-truncate">{{language_2}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="ms-3">
			<a class="icon" id="show_menu_login">
				<i class="fa fa-bars"></i>
			</a>
		</div>
	</div>
	<div style="position: relative;">
		<div id="menu_drop_login" class="contec">
			<div class="btn_header_movile">

				<button id="btn_login" type="button" class="btn btn-outline text-uppercase">
					{{ "Log In"|t }}
				</button>
				<button id="btn_register" type="button" class="btn btn-outline-d text-uppercase">
					{{ "Register"|t }}
				</button>
			</div>
			<div class="mx-3 my-3 sub-header-movil">
				<hr>
				<p class="menu-tittle">{{ "View Products and services"|t }}</p>
				<div class="search_box">
					<input type="search" class="form-control input-search-mobil" autocomplete="off" placeholder="{{ "Type something specific to perform a search"|t }}" aria-label="{{ "Type something specific to perform a search"|t }}" name="search" id="search">
					<button aria-label="{{ "Search"|t }}" class="search_btn btn-search-mobil">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20.837" height="17.588" viewbox="0 0 20.837 17.588">
							<defs>
								<linearGradient id="search_icon" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
									<stop offset="0" stop-color="#3b3d42"/>
									<stop offset="1" stop-color="#a1a5aa"/>
								</linearGradient>
								<linearGradient id="search_circle" x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox">
									<stop offset="0" stop-color="#d88d00"/>
									<stop offset="1" stop-color="#edc500"/>
								</linearGradient>
							</defs>
							<g id="Grupo_3613" data-name="Grupo 3613" transform="translate(-890.917 -7.949)">
								<path id="Trazado_23" data-name="Trazado 23" d="M15.57,14.062h-.794l-.282-.272a6.546,6.546,0,1,0-.7.7l.272.282v.794l5.028,5.018,1.5-1.5Zm-6.034,0a4.525,4.525,0,1,1,4.525-4.525A4.519,4.519,0,0,1,9.537,14.062Z" transform="translate(891.166 4.949)" fill="#fff"/>
								<path id="Trazado_3506" data-name="Trazado 3506" d="M469.118,357.48a1.231,1.231,0,1,1-1.231,1.231,1.232,1.232,0,0,1,1.231-1.231" transform="translate(423.03 -348.521)" fill-rule="evenodd" fill="url(#search_circle)"/>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
