{{ attach_library('cp_layout/cp_layout') }}
<div class="right_bar" id="right_messages" style="display:none ;opacity: 0;">
	<div class="tab-content">
		<div id="pills-chat" class="tab-pane active">
			<div>
				<div class="px-4 pt-0">
					<div class="d-flex align-items-center justify-content-end">
						<ul class="list-inline user-chat-nav text-end mb-0">
							<li class="list-inline-item d-none d-lg-inline-block">
								<a href="/messages">
									<div class="toltip_content m-0">
										<button type="button" id="hide-chat-nav" class="nav-btn user-profile-show btn btn-none toltip_i m-0">
											<i style="color:#005CA4 !important" class='bx bx-fullscreen text-white'></i>
											<span class="tooltiptext" style="width: 103px;font-size: 0.8rem;top: 80%;left: -124%;padding: 5px;">
												{{ "Minimize chat"|t }}
											</span>
										</button>
									</div>
								</a>
							</li>
							<li id="" class="list-inline-item d-none d-lg-inline-block">
								<div class="toltip_content m-0">
									<button type="button" id="close-sidebar" class="nav-btn user-profile-show btn btn-none toltip_i m-0">
										<i style="color:#005CA4 !important" class='bx bx-x text-white'></i>
										<span class="tooltiptext" style="width: 103px;font-size: 0.8rem;top: 80%;left: -124%;padding: 5px;">
											{{ "Leave"|t }}
										</span>
									</button>
								</div>
							</li>
						</ul>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<h4 class="mb-3 chat-tittle">{{ "Messages"|t }}</h4>
					</div>
					<div class="search-box chat-search-box">
						<div class="mb-3 rounded-lg input-group input-group-lg">
							<span class="input-group-text text-muted bg-input-chat pe-1 ps-3" id="basic-addon1">
								<i class="bx bx-search-alt"></i>
							</span>
							<input id="search-message_side_bar" placeholder="{{ "Search messages"|t }}" type="text" class="form-control bg-input-chat" value="">
						</div>
					</div>

					<div class="mb-4 d-flex flex-row justify-content-between">
						<label id="all_side_bar" class="tab-chat me-1 w-100 active" for="option1">{{ "All messages"|t }}</label>
						<label id="unread_side_bar" class="tab-chat me-1 w-100" for="option2">{{ "Unread"|t }}</label>
						<label id="read_side_bar" class="tab-chat me-1" for="option3">{{ "Read"|t }}</label>
						<label id="delete_side_bar" class="tab-chat ms-1" for="option4">
							<i class='bx bx-trash'></i>
						</label>
					</div>
				</div>
				<div class="px-2">
					<div data-simplebar="init" class="chat-message-list" style="max-height: 100%;height: 100% !important;">
						<div class="simplebar-wrapper" style="margin: 0px;">
							<div class="simplebar-height-auto-observer-wrapper">
								<div class="simplebar-height-auto-observer"></div>
							</div>
							<div class="simplebar-mask">
								<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
									<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
										<div class="simplebar-content" style="padding: 0px;">
											<ul id="chat-list-sidebar" class="list-unstyled chat-list chat-user-list"></ul>
										</div>
									</div>
								</div>
							</div>
							<div class="simplebar-placeholder" style="width: auto; height: 890px;"></div>
						</div>
						<div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
							<div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
						</div>
						<div class="simplebar-track simplebar-vertical" style="visibility: visible;">
							<div class="simplebar-scrollbar" style="height: 95px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-delete-sidebar" tabindex="-1" data-bs-backdrop="static" aria-labelledby="alert_3Label"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img
							src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje_Rojo.svg"
							alt="" srcset="">
						{{ "Delete chat"|t }} <span id="modal-chat-header-empresa"></span>
					</h5>
				<svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 512 512" data-bs-dismiss="modal"><title>ionicons-v5-m</title><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"></path></svg>
				</div>
				<div class="modal-body">
					<p>
						{{ "You are about to delete the chat with the company "|t }} <strong class="text-break"
							id="modal-chat-empresa-sidebar"></strong> {{ " with the contact "|t }}
						<strong class="text-break" id="modal-chat-name-sidebar"></strong>.
					</p>
				</div>
				<div class="modal-footer ">
					<div class="row">
						<div class="col-6 fs-6">
							<strong>{{ "Do you want to continue?"|t }}</strong>
						</div>
						<div class="col-6 btn_options">
							<button id="delete-chat-sidebar" class="yes">{{ "YES"|t }}</button>
							<button data-bs-dismiss="modal" class="no">{{ "NO"|t }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
