{{ attach_library('cp_company_international/cp_company_international') }}
<section class="step_registre container">
	<div class="steps">
		<div class="row p-0 step_tittle">
			<div class="col-md-9">
				<div class="">{{ 'EDIT - Company profile & contact'|t }}</div>
			</div>
			<div class="col-md-3" style="text-align: end;">
				<button id="cancel_process" class="bt_eliminar">
					<svg xmlns="http://www.w3.org/2000/svg" id="Grupo_1443" data-name="Grupo 1443" width="26"
						height="26" viewbox="0 0 26 26">
						<rect id="Rectángulo_2982" data-name="Rectángulo 2982" width="26" height="26" fill="none" />
						<g id="Grupo_1291" data-name="Grupo 1291" transform="translate(3.651 3.651)">
							<path id="Trazado_55" data-name="Trazado 55"
								d="M907.176,15.355V9.405a.595.595,0,1,1,1.19,0v5.95a.595.595,0,1,1-1.19,0m4.165-1.785a.6.6,0,0,1-.6-.6V9.405a.6.6,0,1,1,1.19,0v3.57a.6.6,0,0,1-.595.6m0,2.38a.6.6,0,1,1,.595-.6.6.6,0,0,1-.595.6M916.7,6.43h-11.6a1.488,1.488,0,0,0-1.488,1.488v8.925a1.488,1.488,0,0,0,1.488,1.488h8.925a1.488,1.488,0,0,0,1.488-1.488V11.785a.6.6,0,1,1,1.19,0v5.355a2.379,2.379,0,0,1-2.38,2.38H904.8a2.38,2.38,0,0,1-2.38-2.38V7.62a2.381,2.381,0,0,1,2.38-2.38h11.9a1.19,1.19,0,0,0,0-2.38h-4.463c-.658,0-.83-1.19-1.488-1.19h-2.38c-.657,0-.83,1.19-1.487,1.19h-4.463a1.19,1.19,0,0,0-1.19,1.19.6.6,0,1,1-1.19,0,2.381,2.381,0,0,1,2.38-2.38h3.273c.657,0,.83-1.19,1.488-1.19h4.76c.658,0,.83,1.19,1.488,1.19H916.7a2.38,2.38,0,0,1,0,4.76"
								transform="translate(-900.036 -0.48)" fill="#fff" fill-rule="evenodd" />
							<path id="Trazado_56" data-name="Trazado 56"
								d="M951.929,26.48a.893.893,0,1,1-.892.893.893.893,0,0,1,.892-.893"
								transform="translate(-935.863 -18.745)" fill="#fff" fill-rule="evenodd" />
						</g>
					</svg>
					{{ 'Cancel'|t }}
				</button>
			</div>
		</div>

		<div class="step_content">
			<div>
				<div class="" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
					<form class="row g-4 gx-5 pb-4" style="padding: 1.5rem 0.5rem;">
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 pe-4">
							<label for="nombre_del_sitio" class="form-label">{{ 'Names'|t }}
								<sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="name" placeholder="">
								<i id="error_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_name_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 ps-4">
							<label for="nombre_del_sitio" class="form-label">{{ 'Surname'|t }}
								<sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="last_name" placeholder="">
								<i id="error_last_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_last_name_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 pe-4">
							<label for="business_name" class="form-label">{{ 'Company Name'|t }}
								<sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="business_name" placeholder="">
								<i id="error_business_name" class='bx bxs-info-circle toltip_i'>
									<span id="error_business_name_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ 'You must register the companys trade name, which is the name by which your
										company is recognized; it may or may not be the same company name.'|t }}
									</span>
								</i>
								<span>{{ 'You must register the companys trade name, which is the name by which your
									company is recognized; it may or may not be the same company name.'|t }}</span>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 ps-4">
							<label for="sitio" class="form-label">{{ 'Cell Phone'|t }}
							</label>
							<sup>*</sup>
							<div class="row input_error p-0" style="display: flex;justify-content: space-between;">
								<div class="col-lg-3 code-input" style="padding: 0px;">
									<input id="country_code_mobile" class="hidden-input" type="tel" name="phone" />
								</div>
								<div class="col-lg-9 cel-input d-flex align-items-center">
									<input class="w-100 form-control" style="height: 100%;" type="tel" name=""
										id="cellphone" maxlength="10">
									<i id="error_cellphone" class='bx bxs-info-circle toltip_i'>
										<span id="error_cellphone_message" class="tooltiptext_error">
											{{ 'Required Field'|t }}
										</span>
									</i>
								</div>

							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 pe-4">
							<label for="email">{{ 'E-mail address'|t }}
								<sup>*</sup>
							</label>
							<div class="input_error">
								<input type="email" class="form-control" id="email" name="email" placeholder="{{ "
									Example@example.com"|t }}"
									title="Escriba el correo electrónico institucional donde se enviará la correspondencia de este sitio web."
									aria-label="{{ " Enter the institutional e-mail address where correspondence from
									this web site will be sent."|t }}">
								<i id="error_mail" class='bx bxs-info-circle toltip_i'>
									<span id="error_mail_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ 'Enter the institutional e-mail address where correspondence from this web
										site will be sent.'|t }}
									</span>
								</i>
								<span>{{ 'Enter the institutional e-mail address where correspondence from this web site
									will be sent.'|t }}</span>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 pe-4">
							<div class="form-group password">
								<label for="nit">{{ 'Password'|t }}
									<sup>*</sup>
								</label>
								<div class="input-group mb-3">
									<input type="password" id="password_buyer" class="form-control" aria-label="{{ "
										Recipient's username"|t }}" aria-describedby="basic-addon2">
									<span class="input-group-text">
										<img id="pass_bloq_buyer" style="display:none"
											src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña-Bloqueado.svg"
											alt="" srcset="">
										<img id="pass_show_buyer"
											src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Contraseña.svg"
											alt="" srcset="">
									</span>
									<div class="input_error">
										<i id="error_password_buyer" class='bx bxs-info-circle toltip_i'>
											<span id="error_password_buyer_message" class="tooltiptext_error">
												{{ 'Required Field'|t }}
											</span>
										</i>
									</div>
								</div>
								<div class="validation">
									<div class="progress">
										<div class="progress-bar" id="progressbar" role="progressbar" aria-label="{{ "
											Basic example"|t }}" style="width: 0%" aria-valuemin="0"
											aria-valuemax="100"></div>
									</div>
									<p id="error_mensaje_pass" style="word-break: initial;" class="mensaje">{{ "Weak"|t
										}}</p>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle toltip_i'>
										<span class="tooltiptext">
											{{ 'Minimum 8 characters. Must contain 1 capital letter, symbol or
											number.'|t }}
										</span>
									</i>
									<span>{{ 'Minimum 8 characters. Must contain 1 capital letter, symbol or number.'|t
										}}</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6 ps-4">
							<label for="sitio" class="form-label">{{ 'Preferred language'|t }} <sup>*</sup>
							</label>
							<select id="langcode">
								<option value="es">{{ 'Spanish'|t }}</option>
								<option value="en">{{ 'English'|t }}</option>
							</select>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="sitio" class="form-label">{{ 'Country'|t }} <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="departament_contain" class="w-100">
									<select id="country" class="single_select" placeholder="{{ " Enter the keyword or
										select an option"|t }}" autocomplete="off">
										<option value="">{{ "Enter the keyword or select an option"|t }}
										</option>
										{% for country in tree_countries %}
										<option value="{{country.ID}}">{{country.Name}}</option>
										{% endfor %}
									</select>
								</div>

								<i id="error_country" class='bx bxs-info-circle toltip_i'>
									<span id="error_country_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="position" class="form-label">{{ 'Job title'|t }}
								<sup>*</sup>
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="position" placeholder="">
								<i id="error_position" class='bx bxs-info-circle toltip_i'>
									<span id="error_position_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ 'Please include the name of your position within the company.'|t }}
									</span>
								</i>
								<span>{{ 'Please include the name of your position within the company.'|t }}</span>
							</div>
						</div>
						{# <div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="city" class="form-label">{{ 'City'|t }} <sup>*</sup>
							</label>
							<div class="d-flex align-items-center error_select">
								<div id="" class="w-100">
									<select id="city" class="single_select" placeholder="Seleccione una opción..."
										autocomplete="off">
										<option value="">{{ 'Select an option'|t }}</option>
										<option value="usa">{{ 'United States'|t }}</option>
									</select>
								</div>

								<i id="error_city" class='bx bxs-info-circle toltip_i'>
									<span id="error_city_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div> #}
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="web_site" class="form-label">{{ 'Company website'|t }}
							</label>
							<div class="input_error">
								<input type="text" class="form-control" id="web_site">
								<i id="error_web_site" class='bx bxs-info-circle toltip_i'>
									<span id="error_web_site_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ 'Please include the complete URL starting with http or https.'|t }}
									</span>
								</i>
								<span>{{ 'Please include the complete URL starting with http or https.'|t }}</span>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="principal_advisor" class="form-label">{{ 'ProColombia Senior Advisor'|t }}
							</label>
							<select name="principal_advisor" id="principal_advisor">
								<option value="">{{ "Enter the keyword or select an option"|t }}
								</option>
								{% for advisor_user in tree_advisor %}
								<option value="{{advisor_user.ID}}">{{advisor_user.Name}}</option>
								{% endfor %}
							</select>
							<div class="toltip_content">
								<i class='bx bxs-info-circle toltip_i'>
									<span class="tooltiptext">
										{{ 'Select the ProColombia advisor with whom your company has a defined work
										plan.'|t }}
									</span>
								</i>
								<span>{{ 'Select the ProColombia advisor with whom your company has a defined work
									plan.'|t }}</span>
							</div>
							<div class="input_error">
								<i id="error_asesor" class='bx bxs-info-circle' data-bs-toggle="tooltip"
									data-bs-placement="bottom" data-original-title="Campo requerido."></i>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="description">
								<p class="title">{{ 'EDIT MY PRODUCTS OF INTEREST'|t }}</p>

							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="cat_interest_1" class="form-label">{{ 'I am interested in...'|t }}
								(Categoría de interés)
								<sup>*</sup>
							</label>

							<div id="cat_interest_1_cont" class="input_error">
								<select name="cat_interest_1" id="cat_interest_1"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}</option>
									{% for categorization_item in tree_categorization %}
									<option value="{{categorization_item.ID}}">{{categorization_item.Name}}</option>
									{% endfor %}
								</select>
								<i id="error_cat_interest_1" class='bx bxs-info-circle toltip_i'>
									<span id="error_cat_interest_1_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="company_model" class="form-label">{{ 'Business Model'|t }}
								<sup>*</sup>
							</label>

							<div id="company_model_cont" class="input_error">
								<select multiple name="company_model" id="company_model"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}</option>
									{% for company_model_item in tree_business_model %}
									<option value="{{company_model_item.ID}}">{{company_model_item.Name}}</option>
									{% endfor %}
								</select>
								<i id="error_company_model" class='bx bxs-info-circle toltip_i'>
									<span id="error_company_model_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="subcat_interest_1" class="form-label">{{ 'Particularly in...'|t }}
								(Subcategoría de Interés)
								<sup>*</sup>
							</label>

							<div id="subcat_interest_1_cont" class="input_error">
								<select name="subcat_interest_1" id="subcat_interest_1">
									<option disabled hidden>{{ 'Enter the keyword or select an option'|t }}</option>
								</select>
								<i id="error_subcat_interest_1" class='bx bxs-info-circle toltip_i'>
									<span id="error_subcat_interest_1_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6" style="padding-bottom: 30px;">
							<div class="form-group rihgt">
								<label for="nit">{{ 'Tariff Item'|t }}</label>
								<div class="icon_help toltip_i">
									<svg xmlns="http://www.w3.org/2000/svg" width="10.631" height="15.939"
										viewbox="0 0 10.631 15.939">
										<path id="Trazado_11" data-name="Trazado 11"
											d="M164.694,605.959a.516.516,0,0,1-.532-.5,3.094,3.094,0,0,1,3.189-2.988.5.5,0,1,1,0,1,2.063,2.063,0,0,0-2.126,1.992.516.516,0,0,1-.532.5m6.013,3.355a.141.141,0,0,0,.04-.021.5.5,0,0,0-.205.4v.747a2.062,2.062,0,0,1-2.126,1.992h-2.658a.5.5,0,1,0,0,1h2.126a.5.5,0,1,1,0,1h-1.329a.547.547,0,0,1-.112-.012,1.536,1.536,0,0,1-.154.012h-.532a1.5,1.5,0,1,1,0-2.989h2.658a1.031,1.031,0,0,0,1.063-1v-.747a1.453,1.453,0,0,1,.563-1.139.758.758,0,0,1-.145.092,3.9,3.9,0,0,0,1.708-3.187,4.262,4.262,0,0,0-8.505,0,3.9,3.9,0,0,0,1.708,3.187.757.757,0,0,1-.145-.092,1.453,1.453,0,0,1,.563,1.139v.249a.533.533,0,0,1-1.063,0v-.249a.5.5,0,0,0-.205-.4.139.139,0,0,0,.04.021,4.848,4.848,0,0,1-1.96-3.854,5.327,5.327,0,0,1,10.631,0,4.848,4.848,0,0,1-1.961,3.854m-3.887,6.108h1.063a.5.5,0,1,1,0,1H166.82a.5.5,0,1,1,0-1"
											transform="translate(-162.036 -600.48)" fill-rule="evenodd" />
									</svg>
									<span class="tooltiptext_yotube">
										<p class="note">{{ 'NOTE:'|t }}</p>
										{{ 'In order to ensure the smooth operation of the system, it will only present
										the first 10 matching products.'|t }}
									</span>
								</div>
								<div class="input_error">
									<select>
										<option disabled hidden>{{ 'Enter the keyword or select an option'|t }}
										</option>
										<option value="Jaime Francisco">Las demas carnes y despojos comestibles de pato
											ganso o pintada congelados</option>
										<option value="Ruth Silvana">Los demas trozos y despojos comestibles de aves
											incluidos los higados frescos o refrigerados</option>
										<option value="Luis Felipe">Carnes de pato sin trocear frescas o refrigeradas
										</option>
										<option value="Montserrat Carolina">Carnes de pato sin trocear congelados
										</option>
									</select>
									<i id="error_website" class='bx bxs-info-circle toltip_i'>
										<span id="error_website_message" class="tooltiptext_error">
											{{ 'Required Field'|t }}
										</span>
									</i>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle toltip_i'>
										<span class="tooltiptext">
											{{ 'If the product you are looking for is not listed, please enter a word,
											or the 6-digit tariff code, that defines your product. After the third
											character you enter, the system will search for the first 10 products that
											include the characters/word you entered.'|t }}
										</span>
									</i>
									<span>{{ 'If the product you are looking for is not listed, please enter a word, or
										the 6-digit tariff code, that defines your product. After the third character
										you enter, the system will search for the first 10 products that include the
										characters/word you entered.'|t }}</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="cat_interest_2" class="form-label">{{ 'I am interested in...'|t }}
								(Categoría de interés) #2
								<sup>*</sup>
							</label>

							<div id="cat_interest_2_cont" class="input_error">
								<select name="cat_interest_2" id="cat_interest_2"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
										{% for categorization_item in tree_categorization %}
									<option value="{{categorization_item.ID}}">{{categorization_item.Name}}</option>
									{% endfor %}
									</option>
								</select>
								<i id="error_cat_interest_2" class='bx bxs-info-circle toltip_i'>
									<span id="error_cat_interest_2_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="company_model_2" class="form-label">{{ 'Business Model'|t }}
								#2
								<sup>*</sup>
							</label>

							<div id="company_model_2_cont" class="input_error">
								<select multiple name="company_model_2" id="company_model_2"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
									</option>
									{% for company_model_item in tree_business_model %}
									<option value="{{company_model_item.ID}}">{{company_model_item.Name}}</option>
									{% endfor %}
								</select>
								<i id="error_company_model_2" class='bx bxs-info-circle toltip_i'>
									<span id="error_company_model_2_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="subcat_interest_2" class="form-label">{{ 'Particularly in...'|t }}
								(Subcategoría de Interés) #2
								<sup>*</sup>
							</label>

							<div id="subcat_interest_2_cont" class="input_error">
								<select name="subcat_interest_2" id="subcat_interest_2"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
									</option>
								</select>
								<i id="error_subcat_interest_2" class='bx bxs-info-circle toltip_i'>
									<span id="error_subcat_interest_2_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6" style="padding-bottom: 30px;">
							<div class="form-group rihgt">
								<label for="nit">{{ 'Tariff Item #2'|t }}</label>
								<div class="icon_help toltip_i">
									<svg xmlns="http://www.w3.org/2000/svg" width="10.631" height="15.939"
										viewbox="0 0 10.631 15.939">
										<path id="Trazado_11" data-name="Trazado 11"
											d="M164.694,605.959a.516.516,0,0,1-.532-.5,3.094,3.094,0,0,1,3.189-2.988.5.5,0,1,1,0,1,2.063,2.063,0,0,0-2.126,1.992.516.516,0,0,1-.532.5m6.013,3.355a.141.141,0,0,0,.04-.021.5.5,0,0,0-.205.4v.747a2.062,2.062,0,0,1-2.126,1.992h-2.658a.5.5,0,1,0,0,1h2.126a.5.5,0,1,1,0,1h-1.329a.547.547,0,0,1-.112-.012,1.536,1.536,0,0,1-.154.012h-.532a1.5,1.5,0,1,1,0-2.989h2.658a1.031,1.031,0,0,0,1.063-1v-.747a1.453,1.453,0,0,1,.563-1.139.758.758,0,0,1-.145.092,3.9,3.9,0,0,0,1.708-3.187,4.262,4.262,0,0,0-8.505,0,3.9,3.9,0,0,0,1.708,3.187.757.757,0,0,1-.145-.092,1.453,1.453,0,0,1,.563,1.139v.249a.533.533,0,0,1-1.063,0v-.249a.5.5,0,0,0-.205-.4.139.139,0,0,0,.04.021,4.848,4.848,0,0,1-1.96-3.854,5.327,5.327,0,0,1,10.631,0,4.848,4.848,0,0,1-1.961,3.854m-3.887,6.108h1.063a.5.5,0,1,1,0,1H166.82a.5.5,0,1,1,0-1"
											transform="translate(-162.036 -600.48)" fill-rule="evenodd" />
									</svg>
									<span class="tooltiptext_yotube">
										<p class="note">{{ 'NOTE:'|t }}</p>
										{{ 'In order to ensure the smooth operation of the system, it will only present
										the first 10 matching products.'|t }}
									</span>
								</div>
								<div class="input_error">
									<select>
										<option disabled hidden>{{ 'Enter the keyword or select an option'|t }}</option>
										<option value="Jaime Francisco">Las demas carnes y despojos comestibles de pato
											ganso o pintada congelados</option>
										<option value="Ruth Silvana">Los demas trozos y despojos comestibles de aves
											incluidos los higados frescos o refrigerados</option>
										<option value="Luis Felipe">Carnes de pato sin trocear frescas o refrigeradas
										</option>
										<option value="Montserrat Carolina">Carnes de pato sin trocear congelados
										</option>
									</select>
									<i id="error_website" class='bx bxs-info-circle toltip_i'>
										<span id="error_website_message" class="tooltiptext_error">
											{{ 'Required Field'|t }}
										</span>
									</i>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle toltip_i'>
										<span class="tooltiptext">{{ 'If the product you are looking for is not listed,
											please enter a word, or the 6-digit tariff code, that defines your product.
											After the third character you enter, the system will search for the first 10
											products that include the characters/word you entered.'|t }}</span>
									</i>
									<span>{{ 'If the product you are looking for is not listed, please enter a word, or
										the 6-digit tariff code, that defines your product. After the third character
										you enter, the system will search for the first 10 products that include the
										characters/word you entered.'|t }}</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="cat_interest_3" class="form-label">{{ 'I am interested in...'|t }}
								(Categoría de interés) #3
								<sup>*</sup>
							</label>

							<div id="cat_interest_3_cont" class="input_error">
								<select name="cat_interest_3" id="cat_interest_3"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
									</option>
									{% for categorization_item in tree_categorization %}
									<option value="{{categorization_item.ID}}">{{categorization_item.Name}}</option>
									{% endfor %}
								</select>
								<i id="error_cat_interest_3" class='bx bxs-info-circle toltip_i'>
									<span id="error_cat_interest_3_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="company_model_3" class="form-label">{{ 'Business Model'|t }}
								#3
								<sup>*</sup>
							</label>

							<div id="company_model_3_cont" class="input_error">
								<select multiple name="company_model_3" id="company_model_3"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
									</option>
									{% for company_model_item in tree_business_model %}
									<option value="{{company_model_item.ID}}">{{company_model_item.Name}}</option>
									{% endfor %}
								</select>
								<i id="error_company_model_3" class='bx bxs-info-circle toltip_i'>
									<span id="error_company_model_3_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6">
							<label for="subcat_interest_3" class="form-label">{{ 'Particularly in...'|t }}
								(Subcategoría de Interés) #3
								<sup>*</sup>
							</label>

							<div id="subcat_interest_3_cont" class="input_error">
								<select name="subcat_interest_3" id="subcat_interest_3"
									placeholder="{{ 'Enter the keyword or select an option'|t }}" autocomplete="off">
									<option value="">{{ 'Enter the keyword or select an option'|t }}
									</option>
								</select>
								<i id="error_subcat_interest_3" class='bx bxs-info-circle toltip_i'>
									<span id="error_subcat_interest_3_message" class="tooltiptext_error">
										{{ 'Required Field'|t }}
									</span>
								</i>
							</div>

						</div>
						<div class="col-sm-12 col-md-12 mt-0 col-lg-6" style="padding-bottom: 30px;">
							<div class="form-group rihgt">
								<label for="nit">{{ 'Tariff Item #3'|t }}</label>
								<div class="icon_help toltip_i">
									<svg xmlns="http://www.w3.org/2000/svg" width="10.631" height="15.939"
										viewbox="0 0 10.631 15.939">
										<path id="Trazado_11" data-name="Trazado 11"
											d="M164.694,605.959a.516.516,0,0,1-.532-.5,3.094,3.094,0,0,1,3.189-2.988.5.5,0,1,1,0,1,2.063,2.063,0,0,0-2.126,1.992.516.516,0,0,1-.532.5m6.013,3.355a.141.141,0,0,0,.04-.021.5.5,0,0,0-.205.4v.747a2.062,2.062,0,0,1-2.126,1.992h-2.658a.5.5,0,1,0,0,1h2.126a.5.5,0,1,1,0,1h-1.329a.547.547,0,0,1-.112-.012,1.536,1.536,0,0,1-.154.012h-.532a1.5,1.5,0,1,1,0-2.989h2.658a1.031,1.031,0,0,0,1.063-1v-.747a1.453,1.453,0,0,1,.563-1.139.758.758,0,0,1-.145.092,3.9,3.9,0,0,0,1.708-3.187,4.262,4.262,0,0,0-8.505,0,3.9,3.9,0,0,0,1.708,3.187.757.757,0,0,1-.145-.092,1.453,1.453,0,0,1,.563,1.139v.249a.533.533,0,0,1-1.063,0v-.249a.5.5,0,0,0-.205-.4.139.139,0,0,0,.04.021,4.848,4.848,0,0,1-1.96-3.854,5.327,5.327,0,0,1,10.631,0,4.848,4.848,0,0,1-1.961,3.854m-3.887,6.108h1.063a.5.5,0,1,1,0,1H166.82a.5.5,0,1,1,0-1"
											transform="translate(-162.036 -600.48)" fill-rule="evenodd" />
									</svg>
									<span class="tooltiptext_yotube">
										<p class="note">{{ 'NOTE:'|t }}</p>
										{{ 'In order to ensure the smooth operation of the system, it will only present
										the first 10 matching products.'|t }}
									</span>
								</div>
								<div class="input_error">
									<select>
										<option disabled hidden>{{ 'Enter the keyword or select an option'|t }}
										</option>
										<option value="Jaime Francisco">Las demas carnes y despojos comestibles de pato
											ganso o pintada congelados</option>
										<option value="Ruth Silvana">Los demas trozos y despojos comestibles de aves
											incluidos los higados frescos o refrigerados</option>
										<option value="Luis Felipe">Carnes de pato sin trocear frescas o refrigeradas
										</option>
										<option value="Montserrat Carolina">Carnes de pato sin trocear congelados
										</option>
									</select>
									<i id="error_website" class='bx bxs-info-circle toltip_i'>
										<span id="error_website_message" class="tooltiptext_error">
											{{ 'Required Field'|t }}
										</span>
									</i>
								</div>
								<div class="toltip_content">
									<i class='bx bxs-info-circle toltip_i'>
										<span class="tooltiptext">{{ 'If the product you are looking for is not listed,
											please enter a word, or the 6-digit tariff code, that defines your product.
											After the third character you enter, the system will search for the first 10
											products that include the characters/word you entered.'|t }}</span>
									</i>
									<span>{{ 'If the product you are looking for is not listed, please enter a word, or
										the 6-digit tariff code, that defines your product. After the third character
										you enter, the system will search for the first 10 products that include the
										characters/word you entered.'|t }}</span>
								</div>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="col-lg-12 continue">
							<button id="cancel_process_1" class="cancel">{{ 'CANCEL'|t }}</button>

							<button id="edit_company_international" name="edit_company_international"
								aria-label="{{ 'Continue registration'|t }}" class="continue">{{ 'SAVE CHANGES'|t }}
							</button>
							<button style="display:none" class="continue" id="loading_1" type="button" disabled>
								<span class="spinner-border spinner-border-sm me-2" role="status"
									aria-hidden="true"></span>
								{{ 'Loading...'|t }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- Modal -->
	<div class="generic-modal modal legal-modal" id="information">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-header-title">{{ 'Edit company profile and contact'|t }}</span>
          <button class="modal-header-close close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <span class="modal-top-title">{{ 'All uploaded content must comply with the'|t }} <a href="https://b2bmarketplace.procolombia.co/es/habeas-data-aviso-de-privacidad" target="_BLANK" rel="nofollow">{{ 'publication policy.'|t }}</a></span>
        </div>
        <div class="modal-footer">
          <div class="modal-footer-left">
          </div>
          <div class="modal-footer-right">
            <button class="modal-header-close close" data-bs-dismiss="modal" aria-label="Close"><span>{{ 'UNDERSTOOD'|t}}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="question_modal" tabindex="-1" aria-labelledby="alert_2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img
							src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg"
							alt="" srcset="">{{ "Save Edit"|t }}
					</h5>
				</div>
				<div class="modal-body">
					<p>{{ 'You are about to save the modified fields Do you want to update the information?'|t }}</p>
					</a>
					</p>
				</div>
				<div class="modal-footer btn_options">
					<button id="confirm_save_buyer" type="button" class="btn yes">{{ 'YES'|t }}</button>
					<button data-bs-dismiss="modal" type="button" class="btn no">{{ 'NO'|t }}</button>
				</div>
			</div>
		</div>
	</div><!-- Modal -->
	<div class="modal fade" id="question_modal2" tabindex="-1" aria-labelledby="alert_2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img
							src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg"
							alt="" srcset="">{{ 'Save Edit'|t }}
					</h5>
				</div>
				<div class="modal-body">
					<p>{{ 'You are about to save the modified fields Do you want to update the information?'|t }}</p>
					</a>
					</p>
				</div>
				<div class="modal-footer btn_options">
					<button id="confirm_save2" type="button" class="btn yes">{{ 'YES'|t }}</button>
					<button data-bs-dismiss="modal" type="button" class="btn no">{{ 'NO'|t }}</button>
				</div>
			</div>
		</div>
	</div><!-- Modal -->
	<div class="generic-modal modal cancel-confirm-question-modal" id="cancel_modal">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<span class="modal-header-title">{{ 'Cancel'|t }}</span>
				<button data-bs-dismiss="modal" class="modal-header-close" ><span data-bs-dismiss="modal" >×</span></button>
			</div>
			<div class="modal-body">
				<span class="modal-top-title">{{ 'You are about to delete the changes made.'|t }}</span>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-left">
					{{ "Do you want to continue?"|t }}
				</div>
				<div class="modal-footer-right">
					<a data-bs-dismiss="modal" class="button btn btn-cancel" href="#">{{ "NO"|t }}</a>
					<a class="button btn btn-ok" id="confirm_cancel">{{ "YES"|t }}</a>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="success_modal" tabindex="-1" aria-labelledby="alert_2Label" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alert_3Label"><img
							src="https://asesoftwaredevserver.evolutecc.com/sites/default/files/2022-08/Modal-Mensaje-Azul.svg"
							alt="" srcset="">{{ 'Successful process'|t }}</h5>
				</div>
				<div class="modal-body">
					<p>{{ 'User successfully updated'|t }}</p>
				</div>
			</div>
		</div>
	</div>
</section>